<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
    <div class="container adminBody" id="main">
        <div>
            <h3> 게시글</h3>
            <hr>
        </div>
        <div>
            <!--<table>
                <tr>
                    <td colspan="3"></td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr></tr>
            </table>-->


        </div>


    </div>
</th:block>
</html>