<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
    <div class="container adminBody" id="main">
        <div class="admin_list_style">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/admin/user/list/1">회원관리</a>
                </li>
                <li class="list-group-item">
                    <a href="/admin/board/1">게시글관리</a>
                </li>
                <li class="list-group-item">
                    <a href="/admin/item">상품관리</a>
                </li>
                <li class="list-group-item">
                    <a href="/admin/order">주문관리</a>
                </li>
                <li class="list-group-item">
                    <a href="/admin/qna/list/1">문의관리</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/assets/js/admin.js" charset="utf-8"></script>
</th:block>
</html>