<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
    <div id="main">
        <div class="mt-5">
            <i> 회원관리</i>
            <hr>
        </div>

        <div class="row">
            <div class="offset-1 col-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:5%">NO</th>
                            <th style="width:15%">이름</th>
                            <th style="width:15%">아이디</th>
                            <th style="width:15%">닉네임</th>
                            <th style="width:15%">이메일</th>
                            <th style="width:20%">가입일자</th>
                            <th style="width:10%">ROLE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="member:${members}">
                            <td th:text="${member.getU_id()}"></td>
                            <td th:text="${member.getUsername()}">이름</td>
                            <td th:text="${member.getUserid()}">아이디</td>
                            <td th:text="${member.getNickname()}">닉네임</td>
                            <td th:text="${member.getEmail()}">이메일</td>
                            <td th:text="${member.getRegdate()}">가입일자</td>
                            <td th:text="${member.getRole()}">ROLE</td>
                            <th><button type="button" class="btn">상세보기</button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</th:block>
</html>