<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
        <th:block layout:fragment="content">
           <div class="shop-content mypage">
              <div class="container-fluid">
               <div class="row show-grid">
               <div class="left-menu hidden-lg hidden-md">
                   <ul id="cart_menu">
                      <div class="clearfix cart-menu-slide">
                           <li class="">
                              <a href="/mypage/order" class="body_font_color_50"><span>주문</span></a></li>
                           <li class=" ">
                              <a href="/mypage/wishlist" class="body_font_color_50"><span>위시</span></a></li>
                           <li class=" ">
                              <a href="" class="body_font_color_50"><span>장바구니</span></a></li>
                           <li class=" ">
                              <a href="/mypage/cancel" class="body_font_color_50"><span>취소/교환/반품</span></a></li>
                           <li class="active">
                              <a th:href="|/mypage/qna/${session.user.u_id}|" class="body_font_color_50"><span>1:1 문의</span></a></li>
                      </div>
                   </ul>
               </div>

               <div class="col-md-2 col-sm-12 hidden-xs hidden-sm left-menu">
                  <ul>
                     <li class="">
                        <a href="/mypage/order" class="text-gray-dark _fade_link">주문 <span class="hidden-xs">조회</span></a></li>
                     <li class="">
                        <a href="/mypage/wishlist" class="text-gray-dark _fade_link">위시 <span class="hidden-xs">리스트</span></a></li>
                     <li class="">
                        <a href="/mypage/cancel" class="text-gray-dark _fade_link">취소 조회</a></li>
                     <li class="">
                        <a href="" class="text-gray-dark _fade_link">장바구니</a></li>
                     <li class="">
                        <a th:href="|/mypage/qna/${session.user.u_id}|" class="text-gray-dark _fade_link">1:1 문의</a></li>
                     <li class="">
                        <a th:href="|/mypage/modifyinfo/${session.user.u_id}|" class="text-gray-dark _fade_link">정보 수정</a></li>
                     <li class="on">
                        <a href="/mypage/deleteacct" class="text-gray-dark _fade_link">회원 탈퇴</a></li>
                     <li>
                  </ul>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="head bg-bright"></div>
                      <div class="nick text-default-dark table-cell vertical-middle no-margin-top">
                        <h3><span th:text="|${session.user.nickname} 님 안녕하세요.|"></span></h3>
                            <div class="text-15 use_grade">
                              <div class="ug_text"></div>
                                <div class="ug_btn">
                                  <div id="list-popover" style="display: none" class="list_popover">
                                    <div class="lp_header_wrap hidden-lg hidden-md hidden-sm">
                                      <h6 class="no-margin"></h6>
                                        <span class="sr-only"></span></a>
                                    </div>
                            <div class="lp_content_wrap"></div>
                            <div class="table-cell text-center">
                            <p></p><span class="text-bold text-32"></span></a></div>
                                  </div>
                                </div>
                            <div class="table-wrap deleteacct">
                              <h4 class="hidden-sm hidden-xs text-default-dark">

                              <h2>회원탈퇴</h2><hr>
                                <div class="margin-bottom-xxxl">
                                  <div>가입된 회원정보가 모두 삭제됩니다. 작성하신 게시물은 삭제되지 않습니다.</div>
                                    <div>탈퇴 후 같은 계정으로 재가입 시 기존에 가지고 있던 적립금은 복원되지 않으며, 사용 및 다운로드했던 쿠폰도 사용 불가능합니다.</div>
                                      <div>회원 탈퇴를 진행하시겠습니까?</div>
                                </div>
                                  <p class="txt_c">
                                    <span style="display: inline-block">
                                      <button class="btn btn-default" data-dismiss="modal" data-original-title=""title=""><a href="/mypage/order">취소</a></button></span>
                                                    <span style="display: inline-block; padding-right: 10px;">
                                      <button class="btn btn-brand" onclick="removeMember();">탈퇴하기</button></span>
                                  </p>
                                </h4>
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
            <script>
                function removeMember() {
                    if(window.confirm("탈퇴하시겠습니까?")){
                        location.href="/mypage/deleteacctok";
                    }
                }
            </script>
          </div>
       </div>
   </th:block>
</html>