<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
  <div class="shop-content mypage">
    <div class="container-fluid">
      <div class="row show-grid">
        <div class="left-menu hidden-lg hidden-md">
          <ul id="cart_menu">
            <div class="clearfix cart-menu-slide">
              <li class="">
                <a href="/mypage/order" class="body_font_color_50"><span>주문</span></a>
              </li>
              <li class=" ">
                <a href="/mypage/wishlist" class="body_font_color_50"><span>위시</span></a>
              </li>
              <li class=" ">
                <a href="" class="body_font_color_50"><span>장바구니</span></a>
              </li>
              <li class=" ">
                <a href="/mypage/cancel" class="body_font_color_50"><span>취소/교환/반품</span></a>
              </li>
              <li class="active">
                <a th:href="|/mypage/qna/${session.user.u_id}|" class="body_font_color_50"><span>1:1문의</span></a>
              </li>
            </div>
          </ul>
        </div>

        <div class="col-md-2 col-sm-12 hidden-xs hidden-sm left-menu">
          <ul>
            <li class="">
              <a href="/mypage/order" class="text-gray-dark _fade_link">주문 <span class="hidden-xs">조회</span></a>
            </li>
            <li class="">
              <a href="/mypage/wishlist" class="text-gray-dark _fade_link">위시 <span class="hidden-xs">리스트</span></a>
            </li>
            <li class="">
              <a href="/mypage/cancel" class="text-gray-dark _fade_link">취소 조회</a>
            </li>
            <li class="">
              <a href="" class="text-gray-dark _fade_link">장바구니</a>
            </li>
            <li class="">
              <a th:href="|/mypage/qna/${session.user.u_id}|" class="text-gray-dark _fade_link">1:1 문의</a></li>
            <li class="on">
              <a th:href="|/mypage/modifyinfo/${session.user.u_id}|" class="text-gray-dark _fade_link">정보 수정</a></li>
            <li class="">
              <a href="/mypage/deleteacct" class="text-gray-dark _fade_link">회원 탈퇴</a></li>
          </ul>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="head bg-bright">

            <div class="nick text-default-dark table-cell vertical-middle no-margin-top">

              <span th:text="|${session.user.nickname} 님 안녕하세요.|"></span>
              <hr>
              <div class="text-15 use_grade">
                <div class="ug_text"></div>
                <div class="table-wrap deleteacct">
                  <h4 class="hidden-sm hidden-xs text-default-dark">
                    <span>회원 정보 수정</span><p></p><p></p>

                    <div class="card card-body bg-light m-5">

                      <form name="umdfrm">

                        <div class="input_block form-group">
                          <label class="mini-tit" for="join_email">아이디, 비밀번호<i aria-hidden="true" class="icon-required"></i></label>
                          <div class="input_form _item _uid">
                            <input title="아이디" type="text" name="userid" th:value="${u.userid}" readonly>
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div>
                          <div class="input_form brt _item _passwd">
                            <input title="비밀번호" type="password" name="password" autocomplete="off" placeholder="비밀번호">
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block first-letter-uppercase _msg"></div>
                          </div>
                          <div class="input_form brt _item _passwd_confirm">
                            <input title="비밀번호 확인" type="password" name="passwd_confirm" autocomplete="off" placeholder="비밀번호 확인">
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div><p></p>


                        <div class="input_block form-group">
                          <label class="mini-tit" for="join_email">이메일<i aria-hidden="true" class="icon-required"></i></label>
                          <div class="input_form _item _email">
                            <input type="email" id="join_email" name="email" placeholder="이메일" th:value="${u.email}">
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div>
                        </div>

                        <div class="input_block form-group">
                          <label class="mini-tit" for="join_name">닉네임<i aria-hidden="true" class="icon-required"></i></label>
                          <div class="input_form _item _name">
                            <input title="닉네임을(를) 입력하세요" type="text" id="join_name" name="nickname" th:value="${u.nickname}">
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div>
                        </div>

                        <div class="input_block form-group">
                          <label class="mini-tit" for="join_callnum">핸드폰 번호<i aria-hidden="true" class="icon-required"></i></label>
                          <div class="input_form _item _callnum">
                            <input type="text" id="join_callnum" name="phone" placeholder="010-0000-0000" th:value="${u.phone}">
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div>
                        </div>
                        <div class="input_block form-group">
                          <label class="mini-tit" for="address_kakao">주소<i aria-hidden="true" class="icon-required"></i></label>
                          <div class="input_form _item _callnum">
                            <input type="text" id="address_kakao" name="address1" th:value="${u.address1}" readonly placeholder="주소"/>
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div>
                          <div class="input_form _item _callnum">
                            <input type="text" id="address2" name="address2" th:value="${u.address2}" placeholder="상세주소"/>
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div>
                          <input type="hidden" name="zipcode" id="zipcode">
                        </div>

                        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                        <script>
                          window.onload = function(){
                            document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                              //카카오 지도 발생
                              new daum.Postcode({
                                oncomplete: function(data) { //선택시 입력값 세팅
                                  document.getElementById("zipcode").value=data.zonecode;
                                  document.getElementById("address_kakao").value = data.address; // 주소 넣기
                                  document.querySelector("input[name=address2]").focus(); //상세입력 포커싱
                                }
                              }).open();
                            });
                          }
                        </script>

                        <div class="input_block form-group">
                          <label class="mini-tit" for="join_16122">이름(실명)<i aria-hidden="true" class="icon-required"></i></label>
                          <div class="input_form _item _16122">
                            <input type="text" id="join_16122" name="username" th:value="${u.username}">
                            <i aria-hidden="true" class="zmdi zmdi-check"></i>
                            <div class="alert-block _msg"></div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-brand w100p h45 _join_btn" id="umodifybtn">수정하기</button>
                        </div>
                      </form>
                    </div>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>
  </div>
  <script src="/assets/js/mypage.js" charset="utf-8"></script>
</th:block>

</html>