<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
    <head>
      <meta charset="UTF-8">
      <title>Title</title>
    </head>
        <body>
        <th:block layout:fragment="content">
        <div class="shop-content mypage">
          <div class="container-fluid">
            <div class="row show-grid">
              <div class="left-menu hidden-lg hidden-md">
                <ul id="cart_menu">
                  <div class="clearfix cart-menu-slide">
                    <li class="active">
                      <a href="/mypage/order" class="body_font_color_50"><span>주문</span></a>
                    </li>
                    <li class=" ">
                      <a href="/mypage/wishlist" class="body_font_color_50"><span>위시</span></a>
                    </li>
                    <li class=" ">
                      <a href="/mypage/?m2=point_list" class="body_font_color_50"><span>디깅 포인트</span></a>
                    </li>
                    <li class=" ">
                      <a href="/mypage/cancel" class="body_font_color_50"><span>취소/교환/반품</span></a>
                    </li>
                    <li class="">
                      <a href="/mypage/qna" class="body_font_color_50"><span>1:1 문의</span></a>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-2 col-sm-12 hidden-xs hidden-sm left-menu">
                <ul>
                  <li class="on">
                    <a href="/mypage/order" class="text-gray-dark _fade_link">주문 <span class="hidden-xs">조회</span></a>
                  </li>
                  <li class="">
                    <a href="/mypage/wishlist" class="text-gray-dark _fade_link">위시 <span class="hidden-xs">리스트</span></a>
                  </li>
                  <li class="">
                    <a href="/mypage/cancel" class="text-gray-dark _fade_link">취소 조회</a>
                  </li>
                  <li class="">
                    <a href="/shop_mypage/?m2=point_list" class="text-gray-dark _fade_link">디깅 포인트</a>
                  </li>
                  <li class="">
                    <a href="/mypage/qna" class="text-gray-dark _fade_link">1:1 문의</a>
                  </li>
                  <li>
                    <button class="text-gray-dark _fade_link"
                            data-toggle="modal" data-target="#modifyinfo_modal"
                            style="background: none;"><span class="text fixed_transform ">정보 수정</span></button>
                  </li>

                  <!-- class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" -->
                  <li class="inline-blocked login_btn_item ">
                    <button class="text-gray-dark _fade_link" id="delete" data-toggle="modal"
                            data-target="#deleteacct" style="background: none;">
                      <span class="text fixed_transform ">회원탈퇴</span></button>
                  </li>

                </ul>
              </div>
              <div class="col-md-10 col-sm-12">
                <div class="head bg-bright">
                  <div class="my-theme tabled full-width">
                    <div class="img-view table-cell vertical-middle">
                      <div class="tabled full-width">
                        <div class="tumbs table-cell vertical-middle">
                          <a href="javascript:;" onclick="SITE_MEMBER.editProfile('L3Nob3BfbXlwYWdlLz9tMj1vcmRlcg%3D%3D');">
                            <div id="mypage_profile_img" class="img-circle" style="width: 85px; height: 85px;
                            background: url(/img/default_profile.png)  50% 50% / cover no-repeat;"></div>
                            <span class="sr-only">정보 수정</span>
                          </a>
                        </div>
                        <div class="nick text-default-dark table-cell vertical-middle no-margin-top">

                          <span class="ug_name text-brand">브론즈<a href="" class="btn hidden-lg hidden-md hidden-sm"
                             role="button" data-toggle="popover" data-placement="bottom" data-popover-content="#listpopover"
                                 data-original-title="" title="">등급혜택</a></span>

                          <button type="button" data-toggle="popover" title="Popover Title" data-content="This is the content of the popover.">
                            Click Me
                          </button>

                          <span>bug 님 안녕하세요.</span>
                          <div class="text-15 use_grade">
                            <div class="ug_text">누적 구매금액: 0원</div>
                            <div class="ug_btn">
                              <a href="javascript:" class="btn hidden-xs " role="button" data-toggle="popover"
                                 data-placement="bottom" data-popover-content="#list-popover" data-original-title="" title="">등급혜택 보기</a>
                              <div id="list-popover" style="display: none" class="list_popover">
                                <div class="lp_header_wrap hidden-lg hidden-md hidden-sm">
                                  <h6 class="no-margin">회원 등급별 혜택 안내</h6>
                                  <a href="javascript:" onclick="$('.popover.in').popover('hide');" class="btl btl bt-times">
                                    <span class="sr-only">닫기</span></a>
                                </div>
                                <div class="lp_content_wrap">
                                  <div class=" text-center text-18 margin-bottom-xl hidden-lg hidden-md hidden-sm">
                                    bug 님의 회원등급은<br><span class="text-brand">브론즈</span> 입니다.
                                  </div>
                                  <div class="lp_title">누적 구매금액: 0원</div>
                                  <div class="text-center hidden-lg hidden-md hidden-sm text-14 lp_summary">
                                    <p class="no-margin">누적 구매금액: 0원</p>
                                  </div>
                                  <div class="lp_table">
                                    <div class="text-bold text-13">회원 등급별 혜택 안내</div>
                                    <div class="table-responsive">
                                      <table class="table no-margin">
                                        <thead>
                                        <tr>
                                          <th>등급명</th>
                                          <th>등급기준</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="active">
                                          <td>브론즈</td>
                                          <td>기본</td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="text-12 margin-top-xxl">
                                      <p class="no-margin">총 구매금액에 대해 산정됩니다.</p>
                                      <p class="no-margin">등급 조건 달성시 등급 변경은 매주 월요일에 반영됩니다.</p>
                                      <p class="no-margin">구매혜택 조건은 실결제 기준(쿠폰, 적립금, 회원혜택 적용 후 배송비를 제외한 결제금액)으로 적용됩니다.</p>
                                      <p class="no-margin">구매금액 반영은 배송완료 후 7일 이후에 반영됩니다.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-cell vertical-middle point-view text-center">
                      <a href="/shop_mypage/?m2=point_list">
                        <p>디깅 포인트</p>
                        <span class="text-bold text-32">0</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="im-body-size-140 im-line-height-120 text-bold hidden-xs">주문 조회</div>
                <div class="table-wrap" id="shop_mypage_orderlist" style="display: none">
                </div>
                <div style="font-size:15px; padding: 70px; text-align: center;" class="body_font_color_40"
                     id="shop_mypage_orderlist_empty">주문 내역이 없습니다.</div>
                <div style="font-size:15px; padding: 15px;" class="table-wrap text-center">
                  <a href="javascript:;" id="shop_mypage_orderlist_more" onclick="SITE_SHOP_MYPAGE.getOrderList('order')"
                     style="display: none;">더보기 <i aria-hidden="true" style="margin-left:2px" class="btm bt-plus-circle"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </th:block>
        </body>
</html>