<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
        <th:block layout:fragment="content">
          <div class="shop-content mypage">
            <div class="container-fluid">
              <div class="row show-grid">
                <div class="left-menu hidden-lg hidden-md">
                  <ul id="cart_menu">
                    <div class="clearfix cart-menu-slide">
                      <li class="active">
                        <a href="/mypage/order" class="body_font_color_50"><span>주문</span></a></li>
                      <li class=" ">
                        <a href="/mypage/wishlist" class="body_font_color_50"><span>위시</span></a></li>
                      <li class=" ">
                        <a href="" class="body_font_color_50"><span>장바구니</span></a></li>
                      <li class=" ">
                        <a href="/mypage/cancel" class="body_font_color_50"><span>취소/교환/반품</span></a></li>
                      <li class="">
                        <a th:href="|/mypage/qna/${session.user.u_id}|" class="body_font_color_50"><span>1:1 문의</span></a></li>
                    </div>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-12 hidden-xs hidden-sm left-menu">
                  <ul>
                    <li class="on">
                      <a href="/mypage/order" class="text-gray-dark _fade_link">주문 <span class="hidden-xs">조회</span></a></li>
                    <li class="">
                      <a href="/mypage/wishlist" class="text-gray-dark _fade_link">위시 <span class="hidden-xs">리스트</span></a></li>
                    <li class="">
                      <a href="/mypage/cancel" class="text-gray-dark _fade_link">취소 조회</a></li>
                    <li class="">
                      <a href="" class="text-gray-dark _fade_link">장바구니</a></li>
                    <li class="">
                      <a th:href="|/mypage/qna/${session.user.u_id}|" class="text-gray-dark _fade_link">1:1 문의</a></li>
                    <li class="">
                      <a th:href="|/mypage/modifyinfo/${session.user.u_id}|" class="text-gray-dark _fade_link">정보 수정</a></li>
                    <li class="">
                      <a href="/mypage/deleteacct" class="text-gray-dark _fade_link">회원 탈퇴</a></li>
                  </ul>
                </div>
                <div class="col-md-10 col-sm-12">
                  <div class="head bg-bright">
                    <div class="my-theme tabled full-width">
                      <div class="img-view table-cell vertical-middle">
                        <div class="tabled full-width">
                          <div class="tumbs table-cell vertical-middle">
                            <a href="mypage/modifyinfo;">
                              <div id="mypage_profile_img" class="img-circle" style="width: 85px; height: 85px;
                              background: url(/img/default_profile.png)  50% 50% / cover no-repeat;"></div>
                              <span class="sr-only">정보 수정</span>
                            </a>
                          </div>
                          <div class="nick text-default-dark table-cell vertical-middle no-margin-top">


                            <span th:text="|${session.user.nickname} 님 안녕하세요.|"></span>
                            <div class="text-15 use_grade">
                              <div class="ug_text"></div>
                                <div class="ug_btn">
                                  <a href="" class="btn hidden-xs" role="button" data-toggle="popover"
                                    data-placement="bottom" data-popover-content="#list-popover" data-original-title="" title=""></a>
                                  <div id="list-popover" style="display: none" class="list_popover">

                                    <div class="lp_header_wrap hidden-lg hidden-md hidden-sm">
                                      <h6 class="no-margin"></h6>
                                        <span class="sr-only"></span></a>
                                    </div>

                                    <div class="lp_content_wrap">

                                    <div class=" text-center text-18 margin-bottom-xl hidden-lg hidden-md hidden-sm">
                                      bug 님의 회원등급은<br><span class="text-brand">브론즈</span> 입니다.
                                    </div>

                                    <div class="lp_title">누적 구매금액: 0원</div>

                                      <div class="text-center hidden-lg hidden-md hidden-sm text-14 lp_summary">
                                        <p class="no-margin">누적 구매금액: 0원</p>
                                      </div>

                                    <div class="lp_table">
                                      <div class="text-bold text-13"></div>
                                      <div class="table-responsive">
                                        <table class="table no-margin">
                                          <thead>
                                          </thead>
                                          <tbody>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="text-12 margin-top-xxl"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-cell vertical-middle point-view text-center">
                        <a href="/shop_mypage/?m2=point_list">
                          <p></p><span class="text-bold text-32"></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="table-wrap wish">
                    <h4 class="hidden-sm hidden-xs text-default-dark">
                      <span>주문조회</span>
                      <span class="b_cnt badge" id="wish_cnt" style="top: -3px;">
                        <em id="titleWishlist">0</em></span>
                    </h4>

                    <div style="font-size:15px; padding: 70px; text-align: center;" class="body_font_color_40"
                         id="shop_mypage_orderlist_empty">주문 내역이 없습니다.</div>

                    <div style="font-size:15px; padding: 15px;" class="table-wrap text-center">
                      <a href="javascript:;" id="shop_mypage_orderlist_more" onclick="SITE_SHOP_MYPAGE.getOrderList('order')"
                         style="display: none;">더보기 <i aria-hidden="true" style="margin-left:2px" class="btm bt-plus-circle"></i></a></div>
                  </div>
              </div>
            </div>
          </div>
       </div>
    </th:block>
</html>