<!DOCTYPE html>
<html lang="ko" class=" js cssanimations" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer id="doz_footer_wrap"><div id="doz_footer">
        <div class="footer-section footer-type03 _footer_font_preview">		<div class="inside">
            <div class="footer-wrap">
                <div class="foot-custom">
                    <div class="custom-text _footer_text">
                        <div class="site-brand _site_name" style="">집 밖의 즐거움을 공유하는 액티비티 커뮤니티 커머스 | 디그디그 액티비티</div>
                        <div class="custom-text-info _text_editor fr-view">
                            <p style="margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; cursor: url(&quot;../images/cursor.cur?v=201217&quot;), auto;"><span style="font-size: 12px;">발행인 : 홍순익</span></p><p style="margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; cursor: url(&quot;../images/cursor.cur?v=201217&quot;), auto;"><span style="font-size: 12px;">공동편집인 : 홍순익, 조은별</span></p><p style="margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; cursor: url(&quot;../images/cursor.cur?v=201217&quot;), auto;"><span style="font-size: 12px;">주소 : 서울특별시 &nbsp;송파구 올림픽로 300&nbsp;</span></p><p style="margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; cursor: url(&quot;../images/cursor.cur?v=201217&quot;), auto;"><span style="font-size: 12px;">발행일자 :&nbsp;2021년 1월 15일</span></p><p><span style="font-size: 12px;">e-mail : digdig.activity@gmail.com&nbsp;</span></p><p>커뮤니티 내 사진은 다른 용도로 사용 불가합니다.</p>						</div>
                    </div>
                    <div class="copryright-area _copy_menu" style="">
                        Copyright ⓒ 2023 집 밖의 즐거움을 공유하는 액티비티 커뮤니티 커머스 | 디그디그 액티비티 All rights reserved.
                    </div>
                </div>
                <div class="foot-foot-nav _footer_menu_wrap" style="">
                    <ul class="nav nav-stacked footer-all-nav">
                        <div class="_footer_menu" style="display:none;">
                        </div>
                        <div class="_policy_menu" style="">
                            <li class="_use_policy_menu"><a href="/?mode=policy" onclick="SITE.openPolicy(); return false;">이용약관</a></li><li class="_use_policy_menu" style="font-weight: bold"><a href="/?mode=privacy" onclick="SITE.openPrivacy();return false;">개인정보처리방침</a></li>							</div>
                        <div class="_tour_policy_menu" style="display:none;">
                        </div>
                    </ul>
                </div>
                <div class="foot-sociallink _sns_link" style="">
                    <div class="btn-group _sns_link_list" role="group">
                        <a type="button" class="btn pull-right _258J845V89 " href="https://www.youtube.com/channel/UC6HGuA9wL_RKyLBs2TZBlsg" style="" target="_blank"><i aria-hidden="true" class="simple icon-social-youtube"></i><span class="sr-only">SNS 바로가기</span></a><a type="button" class="btn pull-right _B5Ccm5Fi58 " href="https://www.instagram.com/digdig_activity/" style="" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i><span class="sr-only">SNS 바로가기</span></a>						</div>
                </div>
            </div>
            <div class="foot-app-menu _app_menu clearfix" style="display:none;">
                <div class="inline-blocked google">
                    <a class="btn btn-default-dark tabled" href="http://play.google.com/store/apps/details?id=com.imweb.appS2021011502a2f4eeeb339_129b117a9b126" target="_blank" rel="noopener noreferrer">
                        <div class="table-cell vertical-middle" style="padding-right:10px;">
                            <img src="/common/img/google_play_logo.png" width="25" alt="안드로이드 앱 설치">
                        </div>
                        <div class="table-cell vertical-middle txt_l">
                            <p class="no-margin sm-txt">Android app on</p>
                            <p class="no-margin lg-txt">GOOGLE PLAY</p>
                        </div>
                    </a>
                </div>
                <div class="inline-blocked apple">
                    <a class="btn btn-default-dark tabled" href="https://apps.apple.com/us/app/%EB%94%94%EA%B7%B8%EB%94%94%EA%B7%B8-%EC%95%A1%ED%8B%B0%EB%B9%84%ED%8B%B0/id1573380229" target="_blank">
                        <div class="table-cell vertical-middle" style="padding-right:10px;">
                            <i class="zmdi zmdi-apple" aria-hidden="true" style="font-size:35px; color:#fff;"></i>
                        </div>
                        <div class="table-cell vertical-middle txt_l">
                            <p class="no-margin sm-txt">Download on the</p>
                            <p class="no-margin lg-txt">APP STORE</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
    </footer>
</th:block>
</html>