<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0e3775"/>
    <meta name="msapplication-navbutton-color" content="#0e3775">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta property="og:url" content="https://www.digdigactivity.com/main"/>
    <title>집 밖의 즐거움을 공유하는 액티비티 커뮤니티 커머스 | 디그디그 액티비티</title>
    <meta name='application-name' content='집 밖의 즐거움을 공유하는 액티비티 커뮤니티 커머스 | 디그디그 액티비티'/>
    <meta name='msapplication-tooltip' content='집 밖의 즐거움을 공유하는 액티비티 커뮤니티 커머스 | 디그디그 액티비티' />
    <meta id='meta_og_title' property='og:title' content='집 밖의 즐거움을 공유하는 액티비티 커뮤니티 커머스 | 디그디그 액티비티' />
    <meta name='description' content='등산, 헬스, 자전거, 캠핑, 러닝 등 집 밖의 즐거움을 공유하는 커뮤니티 기반의 아웃도어 스포츠 애슬레져 관련 액티비티 콘텐츠 커머스 플랫폼' />
    <meta property='og:description' content='등산, 헬스, 자전거, 캠핑, 러닝 등 집 밖의 즐거움을 공유하는 커뮤니티 기반의 아웃도어 스포츠 애슬레져 관련 액티비티 콘텐츠 커머스 플랫폼' />
    <meta id='meta_og_image' property="og:image" content="https://cdn.imweb.me/upload/S2021011502a2f4eeeb339/d3d3a6a8f9e81.png" />
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="627"/>
    <meta name='keywords' content='등산,캠핑,자전거,러닝,북한산,동호회,직장인취미,액티비티,outdoor' />
    <link rel="canonical" href="https://www.digdigactivity.com/main" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://cdn.imweb.me/thumbnail/20210510/2e0acefde0183.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cdn.imweb.me/thumbnail/20210510/af611693ca5d7.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://cdn.imweb.me/thumbnail/20210510/e0309fd143d6f.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://cdn.imweb.me/thumbnail/20210510/c22801a765aa1.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://cdn.imweb.me/thumbnail/20210510/7a72509805607.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.imweb.me/thumbnail/20210510/363bc01a0b522.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://cdn.imweb.me/thumbnail/20210510/9122bb2093d22.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.imweb.me/thumbnail/20210510/3573317a48e3f.png" />
    <link rel="icon" type="image/png" href="https://cdn.imweb.me/thumbnail/20210510/0f021504ae39f.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://cdn.imweb.me/thumbnail/20210510/7dba4e7d75026.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://cdn.imweb.me/thumbnail/20210510/978b8aecea092.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://cdn.imweb.me/thumbnail/20210510/548e01c3fff79.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="https://cdn.imweb.me/thumbnail/20210510/63f3fe42c7fae.png" sizes="196x196" />
    <meta name="msapplication-TileImage" content="https://cdn.imweb.me/thumbnail/20210510/9122bb2093d22.png" />
    <meta name="msapplication-square70x70logo" content="https://cdn.imweb.me/thumbnail/20210510/dd85a2a5a378d.png" />
    <meta name="msapplication-square150x150logo" content="https://cdn.imweb.me/thumbnail/20210510/b078609ee221a.png" />
    <meta name="msapplication-square310x150logo" content="https://cdn.imweb.me/thumbnail/20210510/da9bd820eb135.png" />
    <meta name="msapplication-square310x310logo" content="https://cdn.imweb.me/thumbnail/20210510/5b8ae39b3560a.png" />
    <meta property="og:type" content="website"/>
    <meta name="viewport" content="width=device-width,viewport-fit=cover,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes"><meta name="naver-site-verification" content="59cfe5004ce6d89f3f4d2341ad308890e04130da" />
    <meta name="google-site-verification" content="OJISU2as7Jp1qkbiNgB2yZlxn1FvnuA2pgfWrCujJFQ" />
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/minify_css/vendor_blue_10.css?1653367465'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/minify_css/vendor_red_10.css?1653367465'/>
    <!--[if lte IE 9]>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/site/bootstrap.css?1590627710'/>
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/owl.carousel1.css?1577682282'/>
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/im_component.css?1636689958'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/site/alarm_menu.css?1678083003'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/function.css?1666824024'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/site/site.css?1685942511'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/site/site2.css?1688942803'/>
    <!--[if lte IE 9]>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/site/iefix.css?1590627710'/>
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/site/iefix2.css?1590627710'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/animate.css?1577682282'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/chosen.css?1617331870'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/chosenImage.css?1617331762'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/fonts/im-icon/style.css?1671430692'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/fonts/pretendard/web/variable/pretendardvariable.css?1669875619'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/fonts/pretendard/web/static/pretendard.css?1669875619'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/fonts/froala-emoji-tap/style.css?1669163161'/>
    <link rel='stylesheet' type='text/css' href='/css/custom.cm?1688939906'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/tailwind.css?1689126958'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/emoji.css?1669163161'/>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/font-awesome5.min.css?1669163183'/>
<link rel="stylesheet" href="/assets/css/project.css">
<script src='https://vendor-cdn.imweb.me/js/jquery.js?1627517460'></script>
<script src='https://vendor-cdn.imweb.me/js/jquery-ui.design.js?1627517437'></script>
<script src='https://vendor-cdn.imweb.me/js/lodash.min.js?1656295899'></script>
<script src='//unpkg.com/vue@3/dist/vue.global.prod.js'></script>
<script src='https://vendor-cdn.imweb.me/js/axios.min.js?1689048978'></script>

<body>
<div class="container">
    <th:block th:replace="layout/header :: header"></th:block>

    <th:block layout:fragment="content"></th:block>

    <th:block th:replace="layout/footer :: footer"></th:block>
</div>

<script src="/assets/js/bs5/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a84a2e3f31.js" crossorigin="anonymous"></script>
</body>
</html>