<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
<body class="doz_sys  _body_menu_m202105075b655364fdf55  mobile-nav-on  mobile_nav_dep2  page  fixed-menu-on new_fixed_menu_on new_header_site  loggedin new_fixed_header_disable" style=";" id="doz_body">
    <div doz_type="section" class="section_wrap pc_section side_basic" id="s20210507f5d9228174118" style=" ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
        <div class="section_bg _section_bg _interactive_bg" style="background-size: cover; background-repeat: no-repeat; position: absolute; left: 0; top: 0; right: 0; bottom: 0"></div>
        <div class="section_bg_color _section_bg_color" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0"></div>

        <main>
            <div doz_type="inside" class="inside">
                <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w202105106c1fc0f7bec4d">
                        <div class="_widget_data _ds_animated_except" data-widget-name="여백" data-widget-type="padding" data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="30" style="margin-top: px; margin-bottom: px">
                                <div id="padding_w202105106c1fc0f7bec4d" style="width: 100%; min-height: 1px; height: 30px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--여백?-->
                <div doz_type="row" doz_grid="12" class="doz_row">
                    <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                        <div doz_type="widget" id="w202105106e803329cac56">
                            <div class="_widget_data" data-widget-name="텍스트" data-widget-type="text" data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view default_padding" id="text_w202105106e803329cac56">
                                    <div class="text-table">
                                        <div>
                                            <h6>
                                                <span style="font-size: 30px"><strong>자유게시판</strong></span>
                                            </h6>
                                            <h6><span style="font-size: 18px; color: rgb(152, 152, 152)">디기들의 아무말 대잔치&nbsp;</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--게시판 헤드-->
                <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20220111589b39b438a75">
                        <div class="_widget_data" data-widget-name="메뉴/카테고리" data-widget-type="sub_menu" data-widget-anim="none"data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                            <div class="widget">
                                <div class="nav sub-menu h-menu-type1 menu-horizontal row-cnt-3 row-cnt-mobile-3">
                                    <ul class="b2021050791e0a8f7e18e4">
                                        <li class="depth-01 active" style="cursor: pointer">
                                            <a href="?category=" class="active" onclick="">
                                                <span class="plain_name">전체</span>
                                            </a>
                                        </li>
                                        <li class="depth-01" style="cursor: pointer">
                                            <a href="?category=s49meIaW22" class="" onclick="">
                                                <span class="plain_name">디그라이프(자유글)</span>
                                            </a>
                                        </li>
                                        <li class="depth-01" style="cursor: pointer">
                                            <a href="?category=13q16483Wa" class="" onclick="">
                                                <span class="plain_name">동행구하기</span>
                                            </a>
                                        </li>
                                        <li class="depth-01" style="cursor: pointer">
                                            <a href="?category=73577I0858" class="" onclick="">
                                                <span class="plain_name">자기소개</span>
                                            </a>
                                        </li>
                                        <li class="depth-01" style="cursor: pointer">
                                            <a href="?category=2U255T4Dmp" class="" onclick="">
                                                <span class="plain_name">Q&AMP;A</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- 카테고리 메뉴-->
                <div doz_type="row" doz_grid="12" class="doz_row">
                    <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                        <div doz_type="widget" id="w2021050704ebf795b2f57">
                            <div class="_widget_data" data-widget-name="게시판" data-widget-type="board" data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N" >
                                <div class="scroll_position" id="scroll_w2021050704ebf795b2f57"></div>
                                <div class="widget board _list_wrap m-margin-on">
                                    <div th:each="bd : ${bds}" class="li_table row_01 type_row container_border" id="post_card_b2021050791e0a8f7e18e4">
                                        <ul class="subject">
                                            <li class="lst_num" style="display: ">글번호</li>
                                            <li class="tit" style="display: ">제목</li>
                                            <li class="author" style="display: ">글쓴이</li>
                                            <li class="time" style="display: ">작성시간</li>
                                            <li class="views" style="display: ">조회</li>
                                        </ul><!--목차(table head)-->
                                        <!--<ul class="list m-padding-on">
                                            <span class="post_link_wrap" style="padding-top: 7px; padding-bottom: 7px">
                                                <div class="clearfix table-cell list-group list_text_title">
                                                    <li class="tit" style="padding-right: 50px">
                                                        <a class="title_link _fade_link" href="/Dailyroutine/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=15769642&amp;t=board">
                                                            <em class="sticker notice" style="display: none">공지</em>&lt;!&ndash;?공지?&ndash;&gt;
                                                            <em th:each="" style="cursor: pointer; padding-right: 5px; color: #00b8ff; display: ">디그라이프(자유글)</em>&lt;!&ndash;카테고리&ndash;&gt;
                                                            <span style="cursor: pointer">러닝크루 참여자 대상 설문조사를 부탁 드립니다. [1만원 상당의 스타벅스 기프티콘 제공]</span>&lt;!&ndash;제목&ndash;&gt;
                                                            <span class="icons"><i aria-hidden="true" class="addon-badge">N</i></span>&lt;!&ndash;최신 New&ndash;&gt;
                                                            &lt;!&ndash;									&ndash;&gt;
                                                            &lt;!&ndash;										<span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>&ndash;&gt;
                                                            &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                            &lt;!&ndash;										<span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>&ndash;&gt;
                                                            &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                            &lt;!&ndash;										<span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>&ndash;&gt;
                                                            &lt;!&ndash;									&ndash;&gt;
                                                        </a>
                                                        <i aria-hidden="true" class="icon-lock lock" style="display: none"></i>
                                                    </li>
                                                    <li class="author" style="display: ">ulttank</li>&lt;!&ndash;닉네임&ndash;&gt;
                                                    <li class="time" title="2023-07-19 16:09" style="display: ">1일전</li>&lt;!&ndash;작성일대신 얼마전에 작성했는지&ndash;&gt;
                                                    <li class="views" style="display: "><em class="txt">조회수</em>2</li>&lt;!&ndash;조회수&ndash;&gt;
                                                    <li class="like" style="display: ">
                                                        <a class="like_btn" id="like_btn_p20230719ab19a1743d0de" href="javascript:;" onclick="clickLike('p20230719ab19a1743d0de');">
                                                            <div class="_token_obj" data-type="post_img_list_like">
                                                                <input type="hidden" id="like_token_key_p20230719ab19a1743d0de" class="_tk_key_obj" value="8810" />
                                                                <input type="hidden" id="like_token_p20230719ab19a1743d0de" class="_tk_obj" value="sGVrstboW/UEsHnryDTT29e5aO3Ot+Xrrej6Rtokmk8Lh+++OqJ3JTICB6hxPOVJQ07gUSu8HkFMuaeZUNIP0Eg0xRv0UsCMt3WMUWmNaIGZ5mmiXPvVkAlQfzai5S8c"/>
                                                            </div>
                                                            <i aria-hidden="true" class="btm bt-heart">&nbsp;</i>
                                                            <em id="like_count_p20230719ab19a1743d0de">0</em>
                                                        </a>
                                                    </li>&lt;!&ndash;좋아요&ndash;&gt;
                                                    <span class="comment-count only-mobile" style="display: "><span>0</span></span>&lt;!&ndash;댓글수&ndash;&gt;
                                                </div>
                                            </span>
                                        </ul>--><!--이미지 없는 게시글--><!--기존코드-->
                                        <!--<ul class="list m-padding-on">
                                            <span class="post_link_wrap" style="padding-top: 7px; padding-bottom: 7px">
                                                <div class="table-cell board_thumb_wrap">
                                                    <a class="_fade_link" href="/Dailyroutine/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=15151994&amp;t=board" style="padding: 0">
                                                        <img src="https://cdn.imweb.me/thumbnail/20230515/1870077a09879.png" class="board_thumb" style="cursor: pointer" alt="" />
                                                        <span class="sr-only">게시판 썸네일</span>
                                                    </a>
                                                </div>
                                                <div class="clearfix table-cell list-group list_text_title">
                                                    <li class="tit" style="padding-right: 50px">
                                                        <a class="title_link _fade_link" href="/Dailyroutine/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=15151994&amp;t=board">
                                                            <em class="sticker notice" style="display: none">공지</em>
                                                            <em style="cursor: pointer; padding-right: 5px; color: #00b8ff; display: ">디그라이프(자유글)</em>
                                                            <span style="cursor: pointer"> 서포터즈 6기를 마치며. </span>
                                                            &lt;!&ndash;									&ndash;&gt;
                                                            &lt;!&ndash;										<span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>&ndash;&gt;
                                                            &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                            &lt;!&ndash;										<span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>&ndash;&gt;
                                                            &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                            &lt;!&ndash;										<span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>&ndash;&gt;
                                                            &lt;!&ndash;									&ndash;&gt;
                                                        </a>
                                                        <i aria-hidden="true" class="icon-lock lock" style="display: none"></i>
                                                    </li>
                                                    <li class="author" style="display: ">디그지기</li>
                                                    <li class="time" title="2023-05-15 10:18" style="display: ">2023-05-15</li>
                                                    <li class="views" style="display: "><em class="txt">조회수</em>190</li>
                                                    <li class="like" style="display: ">
                                                        <a class="like_btn" id="like_btn_p2023051523ced4821610d" href="javascript:;" onclick="clickLike('p2023051523ced4821610d');">
                                                            <div class="_token_obj" data-type="post_img_list_like">
                                                                <input type="hidden" id="like_token_key_p2023051523ced4821610d" class="_tk_key_obj" value="9452" />
                                                                <input type="hidden" id="like_token_p2023051523ced4821610d" class="_tk_obj" value="sGVrstboW/UEsHnryDTT29e5aO3Ot+Xrrej6Rtokmk+60Bjdq83AVuGoYiLaj/7Dus+YYINdWECXNe4vqHAItXG6lYnQUjD9PnJPpA1S06W42UZ+N7D3rrDLIS4q1YDp"/>
                                                            </div>
                                                            <i aria-hidden="true" class="btm bt-heart">&nbsp;</i>
                                                            <em id="like_count_p2023051523ced4821610d">2</em>
                                                        </a>
                                                    </li>
                                                    <span class="comment-count only-mobile" style="display: "><span>2</span></span>
                                                </div>
                                            </span>
                                        </ul>--><!--이미지 있는 게시글--><!--기존코드-->
                                        <ul class="list m-padding-on">
                                            <span class="post_link_wrap" style="padding-top: 7px; padding-bottom: 7px">
                                                <div class="table-cell board_thumb_wrap">
                                                    <a th:href="|/board/view/${bd.board_id}|" class="_fade_link"  style="padding: 0"></a>
                                                    <img src="/assets/img/logo.png" class="board_thumb" style="cursor: pointer" alt="로고" />
                                                    <span class="sr-only">게시판 썸네일</span>
                                                </div>
                                                <div class="clearfix table-cell list-group list_text_title">
                                                    <li class="tit" style="padding-right: 50px">
                                                        <a class="title_link _fade_link" th:href="|/board/view/${bd.board_id}|"></a>
                                                        <!--<em class="sticker notice" style="display: none">공지</em>--><!--이건 왜 있지..-->
                                                        <em th:text="${bd.category}" style="cursor: pointer; padding-right: 5px; color: #00b8ff; display: "></em><!--카테고리-->
                                                        <!--<a th:href="|/board/view/${bd.board_id}|"></a>--><!--제목-->
                                                        <span th:text="${bd.title}" style="cursor: pointer" ><i aria-hidden="true" class="icon-lock lock" style="display: none"></i></span>
                                                    </li>
                                                    <li th:text="${bd.u_id}" class="author" style="display: "></li><!--작성자 닉네임-->
                                                    <li th:text="${#strings.substring(bd.regdate,0,10)}" class="time" title="2023-05-15 10:18" style="display: "></li><!--작성일-->
                                                    <li class="views" style="display: "><em th:text="${bd.views}" class="txt">조회수</em></li><!--조회수-->
                                                    <li class="like" style="display: ">
                                                        <a class="like_btn " id="like_btn_p2023051523ced4821610d" href="javascript:;" onclick="clickLike('p2023051523ced4821610d');">
                                                            <div class="_token_obj" data-type="post_img_list_like">
                                                                <input type="hidden" id="like_token_key_p2023051523ced4821610d" class="_tk_key_obj" value="560">
                                                                <input type="hidden" id="like_token_p2023051523ced4821610d" class="_tk_obj" value="J5pA3ujcsDGPsIvlHzTpfTxbhwoNR9crdmQXbPyBQFIfMtQB2gpszra2AsdsCRDDGgnIRiClm6rvYKvx0r5BhikBuWLe0IEXvmhVxoDSBGk2ueRmefgpItAvc4LsaAD6">
                                                            </div>
                                                            <i aria-hidden="true" class="btm bt-heart">&nbsp;</i>
                                                            <em th:text="${bd.likes}" id="like_count_p2023051523ced4821610d"></em>
                                                        </a>
                                                    </li><!--좋아요-->
                                                    <span class="comment-count only-mobile" style="display: "><span>2</span></span><!--댓글수-->
                                                </div>
                                            </span>
                                        </ul><!--이미지 있는 게시글-->
                                    </div>
                                    <div class="li_footer _list_bottom clearfix text-center show_search_form">
                                        <div class="tools inline-blocked hidden-xs">
                                            <div class="tools">
                                                <form id="bottomSearch" class="input-group _bottom_search_form" action="" method="get">
                                                    <input type="hidden" name="keyword_type" value="all" />
                                                    <input class="form-control" type="text" placeholder="Search" name="keyword" value="" title="search" />
                                                    <a href="javascript:;" class="ico-search" onclick="$('#bottomSearch._bottom_search_form').submit()">
                                                        <i class="icon-magnifier vertical-middle" aria-hidden="true"></i><span class="sr-only">검색</span>
                                                    </a>
                                                    <ul id="image_list" style="display: none"></ul>
                                                </form>
                                            </div>
                                        </div><!--검색-->
                                        <div class="btn-block-right">
                                            <!--<a class="btn btn-primary btn-sm float_r" role="button" href="javascript:;" onclick="SITE_MEMBER.openLogin('L0RhaWx5cm91dGluZQ%3D%3D', 'null', null, 'N');">글쓰기</a>--><!--기존 글쓰기 버튼-->
                                            <button name="newbdbtn" id="newbdbtn" class="btn btn-primary btn-sm float_r">글쓰기</button><!--글쓰기 버튼-->
                                        </div><!--글쓰기 버튼-->
                                    </div>
                                    <nav class="paging-block" th:with="pglink=${'/board/list/'}">
                                        <ul class="pagination">
                                            <th:block th:if="${cpg gt 1}">
                                                <li th:class="${(cpg - 1 gt 0) ? 'page-item' : 'page-item disabled'}">
                                                    <a th:href="|${pglink}${cpg - 1}|"><i aria-hidden="true" class="icon-arrow-left"></i><span class="sr-only">Previous</span></a>
                                                </li>
                                            </th:block><!--이전 페이지-->
                                            <th:block th:each="i:${#numbers.sequence(stpg, stpg + 9)}">
                                                <th:block th:if="${i le cntpg}">
                                                    <li th:class="${(i ne cpg) ? 'page-item' : 'page-item active'}">
                                                        <a th:href="|${pglink}${i}|" class="page-link" th:text="${i}">1</a>
                                                    </li>
                                                </th:block>
                                            </th:block><!--총 페이지-->
                                            <th:block th:if="${cpg lt cntpg}">
                                                <li th:class="${(cpg + 1 le cntpg) ? 'page-item' : 'page-item disabled'}">
                                                    <a th:href="|${pglink}${cpg + 1}|" aria-label="Next"><i aria-hidden="true" class="icon-arrow-right"></i><span class="sr-only">Next</span></a>
                                                </li>
                                            </th:block><!--다음 페이지-->
                                        </ul>
                                    </nav><!--페이지네이션-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--게시판 바디-->
                <div doz_type="row" doz_grid="12" class="doz_row">
                    <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                        <div doz_type="widget" id="w2022011159c5ba063759d">
                            <div class="_widget_data" data-widget-name="검색" data-widget-type="search_btn" data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N" >
                                <div class="widget inline_widget search_btn clearfix" id="w2022011159c5ba063759d">
                                    <div class="search_type fixed_transform search_btn_type01" style="text-align: center">
                                        <div class="inline-blocked holder">
                                            <form class="icon_on" action="/search" method="get" id="inline_s_form_w2022011159c5ba063759d">
                                                <input class="search_btn_form _input" name="keyword" style="display: none" placeholder="Search" value="" title="site search"/>
                                                <a href="javascript:;" class="fixed_transform inline-blocked _search_button" onclick="SITE_SEARCH.openSearch(search_option_data_w2022011159c5ba063759d);">
                                                    <i class="simple icon-magnifier" aria-hidden="true"></i><span class="sr-only">site search</span>
                                                </a>
                                                <ul id="image_list" style="display: none"></ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--홈페이지 전체 검색-->
                <div doz_type="row" doz_grid="12" class="doz_row">
                    <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                        <div doz_type="widget" id="w202105101a401aa248c59">
                            <div class="_widget_data _ds_animated_except" data-widget-name="여백" data-widget-type="padding" data-widget-parent-is-mobile="N">
                                <div class="widget padding" data-height="30" style="margin-top: px; margin-bottom: px">
                                    <div id="padding_w202105101a401aa248c59" style="width: 100%; min-height: 1px; height: 30px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--여백-->
            </div>
        </main>
        <script src="/assets/js/board.js" charset="utf-8"></script>
    </div>
</body>
</th:block>
</html>