<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
    <body class="doz_sys  _body_menu_m202105075b655364fdf55  mobile-nav-on  mobile_nav_dep2  page  fixed-menu-on new_fixed_menu_on new_header_site  loggedin write_mode" 	style=";"  id="doz_body">
    <div class="board_write post_write" id="board_container">
        <div class="write-header _write_header m_sticky_toolbar">
            <div class="header_line clearfix">
                <div class="board-name">자유게시판</div>
                <div class="write-btn">
                    <a id="bdwrtmdicancelbtn" th:value="${bdm.board_id}" class="btn btn_style">취소</a>
                    <button type="button" name="bdwrtmdibtn" id="bdwrtmdibtn" class="_save_post save_post btn">작성</button>
                </div>
            </div>
            <script src="/assets/js/board.js" charset="utf-8"></script>
        </div><!--글쓰기 헤더(자유게시판,취소버튼,작성버튼)-->
        <div class="post_write_wrap">
            <form id="post_form_modify">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg_write _cover_image" style="">
                            <div class="bg_opacity"></div>
                        </div>
                        <div class="col-sm-12 col-xs-12 right write-body">
                            <div class="board_summary">
                                <div class="left">
                                    <div class="avatar">
                                        <img th:src="|http://localhost/cdn/logo.png|" alt="프로필 이미지"  class="avatar-image"><!--프로필이미지 불러와서 보여주기-->
                                    </div>
                                    <div class="author">
                                        <div th:text="${session.user.nickname}" class="write">nickname</div><!--닉네임 불러와서 보여주기-->
                                        <input type="hidden" name="u_id" id="u_id" th:value="${session.user.u_id}">
                                        <input type="hidden" name="board_id" id="board_id" th:value="${bdm.board_id}">
                                    </div>
                                </div>
                                <div class="write-icon"></div>
                            </div><!--프로필이미지, 닉네임-->
                            <div class="editor_box">
                                <div class="title_box _title_box">
                                    <div class="board_title_wrap tabled full-width" style="position: relative">
                                        <div class="table-cell vertical-middle">
                                            <select name="category_" id="b_category" class="div_select category_select">
                                                <option value="자유글" th:selected="${bdm.category eq '자유글'}">자유글</option>
                                                <option value="동행구하기" th:selected="${bdm.category eq '동행구하기'}">동행구하기</option>
                                                <option value="자기소개" th:selected="${bdm.category eq '자기소개'}">자기소개</option>
                                                <option value="Q&A" th:selected="${bdm.category eq 'Q&A'}">Q&A</option>
                                            </select><!--카테고리 선택-->
                                            <input type="hidden" name="category" id="categoryValue">
                                        </div><!--카테고리-->
                                        <div class="table-cell vertical-middle">
                                            <input id="title" name="title" class="no-margin basic_input title_name w100p mb24 " type="text" th:value="${bdm.title}"/>
                                        </div><!--제목입력-->
                                    </div>
                                </div><!--카테고리, 제목-->
                                <div class="postBody basic-editor fr-box fr-ltr custom-theme fr-basic" id="post_body" role="application">
                                    <textarea id="contents" name="contents" class="no-margin basic_input title_name w100p mb24 h100p" type="text">[[${bdm.contents}]]</textarea><!--작성한 본문 내용-->
                                </div><!--본문 내용-->
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 postBody basic-editor fr-box fr-ltr custom-theme fr-basic">
                        <div class="lbipflex"><!--이미지-->
                            <label class="col-md-2">썸네일 이미지</label>
                        </div>
                        <div class="lbipflex"><!--이미지-->
                            <label></label>
                            <img th:src="${bdm.ba.fname}" style="width: 200px; height: 200px ">
                        </div>
                        <label for="attachs" class="board-name">첨부파일</label>
                        <div class="list m-padding-on">
                            <input type="file" name="attachs" id="attachs" multiple="multiple" class="list m-padding-on">
                        </div>
                    </div><!-- 파일첨부 -->
                </div>
            </form><!--글쓰기 작성 폼-->
        </div>
    </div>
    </body>
    <script src="/assets/js/board.js" charset="utf-8"></script>
</th:block>
</html>
