<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.cooldown.mybatis.ItemMapper">
         <select id="selectItemAttach"  resultType="ItemAttach">
           select iano,item_id,fname,fsize from itemattach
         </select>
    <select id="selectItemCombine"  resultType="ItemCombine">
        SELECT i.item_id, i.category, i.itemname, i.price, i.likes, i.info, i.stock, ia.iano, ia.fname, ia.fsize
        FROM item i

        JOIN itemattach ia ON i.item_id = ia.item_id

        <if test="idx != null">
            WHERE i.item_id = #{idx}
        </if>


        <if test="sort == 'recent'">
            ORDER BY i.item_id ASC
        </if>
        <if test="sort == 'like'">
            ORDER BY i.likes DESC
        </if>
        <if test="sort == 'max_price'">
            ORDER BY i.price DESC
        </if>
        <if test="sort == 'min_price'">
            ORDER BY i.price ASC
        </if>
        <if test="sort == 'abc'">
            ORDER BY i.itemname ASC
        </if>
        <if test="sort == 'descabc'">
            ORDER BY i.itemname DESC
        </if>
    </select>

    <select id="selectItemCombine_d"  resultType="ItemCombine">
        SELECT i.item_id, i.category, i.itemname, i.price, i.likes, i.info, i.stock, ia.iano, ia.fname, ia.fsize
        FROM item i
        JOIN itemattach ia ON i.item_id = ia.item_id
        where category = 'digbus_goods'
        <if test="idx != null">
            AND i.item_id = #{idx}
        </if>
        <if test="sort == 'recent'">
            ORDER BY i.item_id ASC
        </if>
        <if test="sort == 'like'">
            ORDER BY i.likes DESC
        </if>
        <if test="sort == 'max_price'">
            ORDER BY i.price DESC
        </if>
        <if test="sort == 'min_price'">
            ORDER BY i.price ASC
        </if>
        <if test="sort == 'abc'">
            ORDER BY i.itemname ASC
        </if>
        <if test="sort == 'descabc'">
            ORDER BY i.itemname DESC
        </if>
    </select>
    <select id="selectItemCombine_c"  resultType="ItemCombine">
        SELECT i.item_id, i.category, i.itemname, i.price, i.likes, i.info, i.stock, ia.iano, ia.fname, ia.fsize
        FROM item i
        JOIN itemattach ia ON i.item_id = ia.item_id where category = 'campingitem'
        <if test="idx != null">
            and i.item_id = #{idx}
        </if>
        <if test="sort == 'recent'">
            ORDER BY i.item_id ASC
        </if>
        <if test="sort == 'like'">
            ORDER BY i.likes DESC
        </if>
        <if test="sort == 'max_price'">
            ORDER BY i.price DESC
        </if>
        <if test="sort == 'min_price'">
            ORDER BY i.price ASC
        </if>
        <if test="sort == 'abc'">
            ORDER BY i.itemname ASC
        </if>
        <if test="sort == 'descabc'">
            ORDER BY i.itemname DESC
        </if>
    </select>
    <select id="selectItemCombine_h"  resultType="ItemCombine">
        SELECT i.item_id, i.category, i.itemname, i.price, i.likes, i.info, i.stock, ia.iano, ia.fname, ia.fsize
        FROM item i
        JOIN itemattach ia ON i.item_id = ia.item_id where category = 'hikinhitem'
        <if test="idx != null">
            and i.item_id = #{idx}
        </if>
        <if test="sort == 'recent'">
            ORDER BY i.item_id ASC
        </if>
        <if test="sort == 'like'">
            ORDER BY i.likes DESC
        </if>
        <if test="sort == 'max_price'">
            ORDER BY i.price DESC
        </if>
        <if test="sort == 'min_price'">
            ORDER BY i.price ASC
        </if>
        <if test="sort == 'abc'">
            ORDER BY i.itemname ASC
        </if>
        <if test="sort == 'descabc'">
            ORDER BY i.itemname DESC
        </if>
    </select>
    <select id="selectItemCombine_b"  resultType="ItemCombine">
        SELECT i.item_id, i.category, i.itemname, i.price, i.likes, i.info, i.stock, ia.iano, ia.fname, ia.fsize
        FROM item i
        JOIN itemattach ia ON i.item_id = ia.item_id where category = 'bikeitem'
        <if test="idx != null">
            and i.item_id = #{idx}
        </if>
        <if test="sort == 'recent'">
            ORDER BY i.item_id ASC
        </if>
        <if test="sort == 'like'">
            ORDER BY i.likes DESC
        </if>
        <if test="sort == 'max_price'">
            ORDER BY i.price DESC
        </if>
        <if test="sort == 'min_price'">
            ORDER BY i.price ASC
        </if>
        <if test="sort == 'abc'">
            ORDER BY i.itemname ASC
        </if>
        <if test="sort == 'descabc'">
            ORDER BY i.itemname DESC
        </if>
    </select>
    <select id="selectItemCombine_r"  resultType="ItemCombine">
        SELECT i.item_id, i.category, i.itemname, i.price, i.likes, i.info, i.stock, ia.iano, ia.fname, ia.fsize
        FROM item i
        JOIN itemattach ia ON i.item_id = ia.item_id where category = 'runningitem'
        <if test="idx != null">
            and i.item_id = #{idx}
        </if>
        <if test="sort == 'recent'">
            ORDER BY i.item_id ASC
        </if>
        <if test="sort == 'like'">
            ORDER BY i.likes DESC
        </if>
        <if test="sort == 'max_price'">
            ORDER BY i.price DESC
        </if>
        <if test="sort == 'min_price'">
            ORDER BY i.price ASC
        </if>
        <if test="sort == 'abc'">
            ORDER BY i.itemname ASC
        </if>
        <if test="sort == 'descabc'">
            ORDER BY i.itemname DESC
        </if>
    </select>
    
    <!--cart-->
    <insert id="insertCart" >
        insert into cart (u_id,item_id,count) values (#{u_id},#{item_id},#{count})
    </insert>
    <select id="selectCountCart"  resultType="int">
        select count(*) from cart where u_id = #{u_id} and item_id = #{item_id}
    </select>
    <update id="updateCountCart">
        UPDATE cart
        SET
        count = count + #{count}
        WHERE item_id = #{item_id} and  u_id = #{u_id} ;
    </update>


    <select id="selectCart"  resultType="CartCombine">
        select *
        from cart c
        join item i on c.item_id= i.item_id
        join itemattach ia on i.item_id = ia.item_id
        where u_id = #{u_id}
    </select>

    <update id="updateCountCart_c">
        UPDATE cart
        SET
        count = #{count}
        WHERE cart_id = #{cart_id}
    </update>

    <delete id="deleteCart">
        DELETE FROM cart WHERE cart_id = #{cart_id}
    </delete>
    <select id="wishList"  resultType="CartCombine">
        select *
        from item i
        join itemattach ia on i.item_id = ia.item_id
        where i.likeusers LIKE CONCAT('%', #{u_id}, '%')
    </select>
    <select id="buyCart" resultType="Item">
        select * from cart where cart_id

    </select><!--삭제예정-->

    <select id="customer_info" resultType="User">
        select * from user where u_id = #{uId}
    </select>








    <!--admin-->
    <insert id="insertItem" parameterType="Item">
        insert into item(category,itemname,price,info,stock) values(#{category},#{itemname},#{price},#{info},#{stock})
    </insert>
    <select id="lastItemId">
        select AUTO_INCREMENT - 1 item_id from information_schema.TABLES where TABLE_NAME = 'item';
    </select>
    <insert id="insertItemAttach" parameterType="ItemAttach">
        insert into itemattach(item_id,fname,fsize) values (#{item_id},#{fname},#{fsize})
    </insert>



    <resultMap id="ia" type="ItemAttach">
        <result column="iano" property="iano"/>
        <result column="item_id" property="item_id"/>
        <result column="fname" property="fname"/>
        <result column="fsize" property="fsize"/>
    </resultMap>

    <resultMap id="iia" type="Item">
        <result column="item_id" property="item_id"/>
        <result column="category" property="category"/>
        <result column="itemname" property="itemname"/>
        <result column="price" property="price"/>
        <result column="likes" property="likes"/>
        <result column="info" property="info"/>
        <result column="stock" property="stock"/>

        <collection property="ia" resultMap="ia"/>
    </resultMap>
    <select id="selectItemAtt" resultMap="iia">
        select * from itematt order by item_id desc
    </select>
    <select id="selectItemAttCt" resultMap="iia">
        select * from itematt where category=#{category} order by item_id desc
    </select>
    <delete id="deleteItem">
        delete from item where item_id=#{item_id}
    </delete>
    <select id="selectOneItem" resultMap="iia">
        select * from itematt where item_id=#{item_id}
    </select>
    <update id="updateOneItem" parameterType="Item">
        update item set category=#{category},itemname=#{itemname},price=#{price},info=#{info},stock=#{stock} where item_id=#{item_id}
    </update>
    <update id="updateItemAttach" parameterType="ItemAttach">
        update itemattach set fname=#{fname},fsize=#{fsize} where item_id=#{item_id}
    </update>




</mapper>