<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.project.cooldown.mybatis.UserMapper">
    <select id="selectUser" resultType="User">
        select * from user
    </select>
    <select id="selectOneUser" resultType="User">
        select u_id, userid, nickname from user where userid=#{userid} and password=#{password}
    </select>
    <insert id="insertUser" parameterType="User">
        insert into user(userid,password,email,nickname,phone,zipcode,address1,address2,birth,username)
        values (#{userid},#{password},#{email},#{nickname},#{phone},#{zipcode},#{address1},#{address2},#{birth},#{username});
    </insert>

</mapper>
