.adminBody { min-height: 900px;}
.admin_list_style{
    margin: 50px auto;
    width: 300px;
}
.admin_list_style > ul > li{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    margin: 30px;
}

/*회원상세보기 모달*/
.userdetailtb{
    display: flex;
    justify-content: center;
    align-content: center;
}
.userdetailtb tr{
    display: block;
    padding: 10px;
    width: 500px;
    border-bottom:1px solid #ccc;
}

.userdetailtb tr:last-child{
    border-bottom:none;
}

.userdetailtb tr td:first-child{
    width: 150px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.userdetailtb tr td:last-child{
    width: 350px;
    padding: 0 20px;
}
.userdetailtb tr td:last-child input{
    border: none;
    width: 100%;
    font-size: 16px;
}


/*qna답변폼*/

.qnaBody{
    margin: 50px auto;
}
.qnaBodyC{
    width: 70%;
    margin:0 auto;
}
.rplimgst{
    border: 1px solid black;
    border-radius: 100%;
    width: 40px;
}
.rpltxt{
    border: 1px solid #337ab7;
    resize: none;
}
.userQnaFrmst {
    font-size: 18px;
}
.userQnaFrmst label{
    font-size: 16px;
}
.userQnaFrmst textarea{
    width: 100%;
    border: 1px solid #337ab7;
    border-radius: 5px;
}
.userQnaFrmst p:last-child{
    padding: 3px;
    border: 1px solid #337ab7;
    border-radius: 5px;
}

/*게시글*/
.a_img{
    border:1px solid #ccc;
    margin: 5px;
    width: 100px;
    height: 100px;
}

/*상품 올리기*/
.makeItem{
    display: flex;
    justify-content: center;
    min-height: 500px;
}
.itemimgsize{
    border: 1px solid red;
    width: 50%;
}
.itemimgsize label{
    font-size: 20px;
}
.itemDetail{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    font-size: 18px;
}
.itemDetail label{
    vertical-align: top;
    font-size: 20px;
    margin: 5px;
    padding: 0 10px;
    width: 150px;
    text-align: end;
}
.itemDetail input{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 330px;
    margin: 5px;
}
.lbipflex{
    display: flex;
    margin-bottom: 20px;
}

.lbipflex textarea{
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.mkitemBtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.mkitemBtn button{
    width: 100px;
    padding: 10px;
    margin: 5px;
}

/*상품관리페이지*/
.itemContainer{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.itemBtnSt{
    background: none;
    border: 1px solid #337ab7;
    border-radius: 5px;
    color: #337ab7;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 5px;
}

.aitemBox{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 49%;
    padding: 5px;
    margin-top: 24px;
}

.aitemBox .itemImgBox{
    width:220px ;
}


.aitemDetail{
    display: flex;
}
.aitemDetail label{
    /*border: 1px solid red;*/
    width:80px;
    text-align: end;
    margin-bottom: 20px;
    font-size: 16px;
}
.aitemDetail >div{
    /*border: 1px solid blue;*/
    width: 250px;
    margin-left: 5px;
    font-size: 18px;
}