.adminBody { min-height: 900px;}
.admin_list_style{
    margin: 50px auto;
    width: 300px;
}
.admin_list_style > ul > li{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    margin: 30px;
}

/*회원상세보기 모달*/
.userdetailtb{
    display: flex;
    justify-content: center;
    align-content: center;
}
.userdetailtb tr{
    display: block;
    padding: 10px;
    width: 500px;
    border-bottom:1px solid #ccc;
}

.userdetailtb tr:last-child{
    border-bottom:none;
}

.userdetailtb tr td:first-child{
    width: 150px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.userdetailtb tr td:last-child{
    width: 350px;
    padding: 0 20px;
}
.userdetailtb tr td:last-child input{
    border: none;
    width: 100%;
    font-size: 16px;
}


/*qna답변폼*/

.qnaBody{
    margin: 50px auto;
    /*border: 1px solid red;*/
}

.rpltxt{
    border: 1px solid blue;
    resize: none;
}

/*게시글*/
.a_img{
    border:1px solid #ccc;
    margin: 5px;
    width: 100px;
    height: 100px;
}

/*상품*/
.makeItem{
    display: flex;
}
.itemimgsize{
    border: 1px solid red;
    width: 50%;
}
.itemDetail{
    border: 1px solid red;
    width: 50%;
    font-size: 18px;
}
.itemDetail label{
    vertical-align: top;
    font-size: 20px;
    margin: 5px;
    padding: 0 10px;
    width: 150px;
    text-align: end;
}
.itemDetail input{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 330px;
    margin: 5px;
}
.lbipflex{
    display: flex;
}

.lbipflex textarea{
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.mkitemBtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.mkitemBtn button{
    width: 100px;
    padding: 10px;
    margin: 5px;
}