.comment_subject {
    font-size: 17px; /* 글자 크기 설정 */
    color: #0e3775;
    font-weight: bold;
}

.comment_area {
    bg-color: grey;
}

/*.table-wrap {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
.centered-div {
    width: 300px;
    height: 200px;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.space {
    margin-bottom: 20px; /* 원하는 간격(px 또는 다른 단위로 설정 가능) */
}
/* 글자 색상 설정 */

/*.write-header {*/
/*    border-bottom: 1px solid rgba(128, 128, 128, 0.3);*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    background: #fff;*/
/*    z-index: 111200;*/
/*    padding: 17px 21px;*/
/*}*/



/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f1f1f1;*/
/*}*/

/*.container {*/
/*    max-width: 600px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    background-color: #fff;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*    margin-bottom: 30px;*/
/*}*/

/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*label {*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*}*/

/*input {*/
/*    padding: 10px;*/
/*    margin-bottom: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*}*/

/*button {*/
/*    padding: 10px 20px;*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*button:hover {*/
/*    background-color: #0056b3;*/
/*}*/

/*.error-message {*/
/*    color: red;*/
/*    margin-top: 5px;*/
/*}*/

/*.success-message {*/
/*    color: green;*/
/*    margin-top: 5px;*/
/*}*/