.modalscrollst {
    max-height: calc(100vh - 50px);overflow-x: hidden; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;
}
.modalscrollst::-webkit-scrollbar{
    display: none;
}
.pmsg{
    display: block;
    color: #00B8FF;
    font-size: 12px;
    padding: 7px 0 7px 16px;
    position: relative;
}

.ipmsg{
    display: block;
    color: #F84A71;
    font-size: 12px;
    padding: 7px 0 0 16px;
    position: relative;
}