<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
    <div class="container adminBody" id="main">
        <div style="text-align: center; margin: 100px;">
            <p style="font-size: 36px; font-weight: bold">
                웁-스!
            </p>
            <img src="/assets/img/error.png" style="width: 300px;">
        </div>

    </div>
    <script src="/assets/js/admin.js" charset="utf-8"></script>
</th:block>
</html>