<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
  <div id="main">
    <div doz_type="section"
         class="section_wrap visual_section  pc_section   mobile_hide   section_first _section_first   "
         id="s20211116af37f830fa9ae" doz_mobile_section="N" doz_mobile_hide="Y" doz_header_repeat="N"
         doz_footer_repeat="N" doz_category="visual" doz_fullpage="N" style="">
      <div class="visual_section  _visual_section    paging_type_line" id="visual_s20211116af37f830fa9ae"> <!-- 비주얼 영역이
    없는 경우 .no-visual 추가 -->

        <!-- 비주얼 영역-->
        <div class="owl-carousel owl-theme _slide owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage"
                 style="transform: translate3d(-7595px, 0px, 0px); transition: all 0s ease 0s; width: 10633px;">
              <div class="owl-item cloned" style="width: 1519px; margin-right: 0px;">
                <div class="item holder section "
                     style="background-image:url(https://cdn.imweb.me/thumbnail/20220704/e031d54b34b66.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;">
                  <div class="op _op" style="position: relative;z-index: 11; "><a class="visual_link "
                                                                                  href="/story" target="" onclick=""></a>
                    <div class="header-content _visual_height m_ratio">
                      <div class="text _text_wrap">
                        <div class="text-wrap _text fr-view"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 1519px; margin-right: 0px;">
                <div class="item holder section "
                     style="background-image:url(https://cdn.imweb.me/thumbnail/20230629/61c7556a695ee.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;">
                  <div class="op _op" style="position: relative;z-index: 11; "><a class="visual_link "
                                                                                  href="/knowhow" target="" onclick=""></a>
                    <div class="header-content _visual_height m_ratio">
                      <div class="text _text_wrap">
                        <div class="text-wrap _text fr-view"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 1519px; margin-right: 0px;">
                <div class="item holder section "
                     style="background-image:url(https://cdn.imweb.me/thumbnail/20220704/00bf1f8d3e068.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;">
                  <div class="op _op" style="position: relative;z-index: 11; "><a class="visual_link "
                                                                                  href="https://www.digdigactivity.com/digshop" target="" onclick=""></a>
                    <div class="header-content _visual_height m_ratio">
                      <div class="text _text_wrap">
                        <div class="text-wrap _text fr-view"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 1519px; margin-right: 0px;">
                <div class="item holder section "
                     style="background-image:url(https://cdn.imweb.me/thumbnail/20220704/e031d54b34b66.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;">
                  <div class="op _op" style="position: relative;z-index: 11; "><a class="visual_link "
                                                                                  href="/story" target="" onclick=""></a>
                    <div class="header-content _visual_height m_ratio">
                      <div class="text _text_wrap">
                        <div class="text-wrap _text fr-view"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 1519px; margin-right: 0px;">
                <div class="item holder section "
                     style="background-image:url(https://cdn.imweb.me/thumbnail/20230629/61c7556a695ee.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;">
                  <div class="op _op" style="position: relative;z-index: 11; "><a class="visual_link "
                                                                                  href="/knowhow" target="" onclick=""></a>
                    <div class="header-content _visual_height m_ratio">
                      <div class="text _text_wrap">
                        <div class="text-wrap _text fr-view"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned active" style="width: 1519px; margin-right: 0px;">
                <div class="item holder section "
                     style="background-image:url(https://cdn.imweb.me/thumbnail/20220704/00bf1f8d3e068.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;">
                  <div class="op _op" style="position: relative;z-index: 11; "><a class="visual_link "
                                                                                  href="https://www.digdigactivity.com/digshop" target="" onclick=""></a>
                    <div class="header-content _visual_height m_ratio">
                      <div class="text _text_wrap">
                        <div class="text-wrap _text fr-view"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 1519px; margin-right: 0px;">
                <div class="item holder section "
                     style="background-image:url(https://cdn.imweb.me/thumbnail/20220704/e031d54b34b66.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;">
                  <div class="op _op" style="position: relative;z-index: 11; "><a class="visual_link "
                                                                                  href="/story" target="" onclick=""></a>
                    <div class="header-content _visual_height m_ratio">
                      <div class="text _text_wrap">
                        <div class="text-wrap _text fr-view"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls">
            <div class="owl-nav">
              <div class="owl-prev" style="display: none;"></div>
              <div class="owl-next" style="display: none;"></div>
            </div>
            <div class="owl-dots" style="">
              <div class="owl-dot active"><span></span></div>
              <div class="owl-dot"><span></span></div>
              <div class="owl-dot"><span></span></div>
            </div>
          </div>
        </div>
        <!-- end.비주얼 영역 -->
      </div>
    </div>
    <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20210608cfedc23563ddf"
         doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
         doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
      <div class="section_bg _section_bg _interactive_bg   "
           style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <div class="section_bg_color _section_bg_color"
           style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <main>
        <div doz_type="inside" class="inside">
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w2021062995f2043f71a4f">
                <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                     data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                     data-widget-parent-is-mobile="N">
                  <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view "
                       id="text_w2021062995f2043f71a4f">

                    <div class="text-table ">
                      <div>
                        <h6><span style="font-size: 30px; letter-spacing: 0px;"><strong>HOT
                                                        TOPIC</strong></span></h6>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w2021060885d37ed1dd8bd">
                <div class="_widget_data " data-widget-name="최신글" data-widget-type="newest"
                     data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                     data-widget-parent-is-mobile="N">
                  <div class="widget">
                    <div class="list-style m-margin-on row_01 type_row container_border"
                         id="newest_w2021060885d37ed1dd8bd">
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=7441845&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20210816/6d64391ac957b.gif"
                                alt=""></a></div>
                        <div class="title" style="">

                          <a class="_fade_link" href="/knowhow/?idx=7441845&amp;bmode=view">
                                                    <span class="title-block inline-blocked">나폴리 부럽지 않다 우리나라 스노쿨링
                                                        명소!</span>
                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">조초록 <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 15763</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 4</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=6778325&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20210608/354cede086d55.jpg"
                                alt=""></a></div>
                        <div class="title" style="">
                          <a class="_fade_link" href="/knowhow/?idx=6778325&amp;bmode=view">
                                                    <span class="title-block inline-blocked">페이스 550 너도 뛸 수 있어 ! 런린이 기초
                                                        트레이닝!</span>
                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">러너진@blackrunner_jin <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 23069</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 9</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/mytip/?idx=9565853&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20220121/21f7069e12359.jpeg"
                                alt=""></a></div>
                        <div class="title" style="">
                          <a class="_fade_link" href="/mytip/?idx=9565853&amp;bmode=view">
                                                    <span class="title-block inline-blocked">노지 캠핑(차박/백패킹) 스팟 주소 공유 (22년
                                                        1월 21일) 퍼온글</span>
                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">캠프요정지니 @campelfjini <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 32426</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 4</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=13016299&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20221005/25b20a1fca41a.jpg"
                                alt=""></a></div>
                        <div class="title" style="">
                          <a class="_fade_link" href="/knowhow/?idx=13016299&amp;bmode=view">
                                                    <span class="title-block inline-blocked">대중교통 타고 가는 수도권 근교 캠핑장 7곳
                                                        (for 뚜벅이 백패커)</span>
                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">하이윤 <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 8747</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 0</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=11822216&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20220706/4d64be7dc8133.jpg"
                                alt=""></a></div>
                        <div class="title" style="">

                          <a class="_fade_link" href="/knowhow/?idx=11822216&amp;bmode=view">
                                                    <span class="title-block inline-blocked">제주 환상 자전거길 라이딩 코스
                                                        총정리!</span>
                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">컬러라이더(@Color.rider) <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 8973</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 1</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w20210716460112311f971">
                <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                     data-widget-type="padding" data-widget-parent-is-mobile="N">
                  <div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
                    <div id="padding_w20210716460112311f971"
                         style="width:100%; min-height:1px; height:30px; "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w2021120296fb11a416891">
              <div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
                   data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                   data-widget-parent-is-mobile="N">
                <div
                        class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden hover_img_hide   same_overlay">
                  <a href="/CREW" style="display:block;" class="_fade_link ">
                    <div class="_img_box img_wrap " style="height: 303.8px;"><img
                            id="img_w2021120296fb11a416891"
                            src="https://cdn.imweb.me/thumbnail/20211202/428ac95a58ff9.jpg"
                            style="visibility: visible; image-rendering: -webkit-optimize-contrast; width: 100%; height: 100%; object-fit: cover; margin-top: 0px; margin-left: 0px;"
                            class=" org_image" alt="">
                      <div class="_hover_image hover_img"
                           style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background-image: url(&quot;https://cdn.imweb.me/thumbnail/20211202/428ac95a58ff9.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20210524bbd2a5f9c7935"
         style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
         doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
      <div class="section_bg _section_bg _interactive_bg   "
           style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <div class="section_bg_color _section_bg_color"
           style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
      <main>
        <div doz_type="inside" class="inside">
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w202107161d03517164a27">
                <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                     data-widget-type="padding" data-widget-parent-is-mobile="N">
                  <div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
                    <div id="padding_w202107161d03517164a27"
                         style="width:100%; min-height:1px; height:30px; "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div doz_type="inside" class="inside"></div>
        <div doz_type="inside" class="inside"></div>
      </main>
    </div>
    <div doz_type="section" class="section_wrap  pc_section       side_basic   extend_section   "
         id="s202107168f3830e8ec4eb" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
         doz_side_margin="0" doz_extend="Y" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
         doz_footer_repeat="N" doz_category="default">
      <div class="section_bg _section_bg _interactive_bg   "
           style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <div class="section_bg_color _section_bg_color"
           style="background-color:rgba(0, 0, 0, 0.05); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);	zoom: 1; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <main>
        <div doz_type="inside" class="inside">
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w20210716849ea8fe302be">
                <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                     data-widget-type="padding" data-widget-parent-is-mobile="N">
                  <div class="widget padding" data-height="10" style="margin-top:px; margin-bottom:px;">
                    <div id="padding_w20210716849ea8fe302be"
                         style="width:100%; min-height:1px; height:10px; "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s202106290e0bb59f10b74"
         style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
         doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
      <div class="section_bg _section_bg _interactive_bg   "
           style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <div class="section_bg_color _section_bg_color"
           style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <main>
        <div doz_type="inside" class="inside">
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w20210716a8c69f9f2e72c">
                <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                     data-widget-type="padding" data-widget-parent-is-mobile="N">
                  <div class="widget padding" data-height="30">
                    <div id="padding_w20210716a8c69f9f2e72c"
                         style="width:100%; min-height:1px; height:30px; "></div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--여백-->
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w20210629b3c5f9f2d7075">
                <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                     data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                     data-widget-parent-is-mobile="N">
                  <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view "
                       id="text_w20210629b3c5f9f2d7075">
                    <div class="text-table ">
                      <div>
                        <h6><span style="font-size: 30px; letter-spacing: 0px;"><strong>NEW
                                                        CONTENTS</strong></span></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--New Contents Text-->
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w20210611041c09a38f494">
                <div class="_widget_data " data-widget-name="최신글" data-widget-type="newest"
                     data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                     data-widget-parent-is-mobile="N">
                  <div class="widget">
                    <div class="list-style m-margin-on row_01 type_row container_border"
                         id="newest_w20210611041c09a38f494">
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=15465952&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20230619/7e05c33d13cf6.jpg"
                                alt=""></a></div>
                        <div class="title" style="">
                          <a class="_fade_link" href="/knowhow/?idx=15465952&amp;bmode=view">
                            <span class="title-block inline-blocked">캠핑에서 만난 기암괴벽 모음 ZIP</span>
                            <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                            <!--					-->

                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">디그지기 <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 193</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 0</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=15465801&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20230619/b9754bdd7f90b.jpeg"
                                alt=""></a></div>
                        <div class="title" style="">

                          <a class="_fade_link" href="/knowhow/?idx=15465801&amp;bmode=view">
                                                    <span class="title-block inline-blocked">오로라 진행시켜. 더우니 그리워진 겨울왕국
                                                        아이슬란드</span> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                            <!--					-->

                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">혁(@shyeo_gi) <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 166</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 0</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=15465727&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20221004/a685d99cb0154.jpg"
                                alt=""></a></div>
                        <div class="title" style="">

                          <a class="_fade_link" href="/knowhow/?idx=15465727&amp;bmode=view">
                                                    <span class="title-block inline-blocked">완벽한 춘천 라이딩 코스
                                                        feat.레고랜드</span> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                            <!--					-->

                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">조미 <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 430</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 0</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=15465699&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20230619/99c9c7ba38a8d.png"
                                alt=""></a></div>
                        <div class="title" style="">

                          <a class="_fade_link" href="/knowhow/?idx=15465699&amp;bmode=view">
                                                    <span class="title-block inline-blocked">'Let's digging time!' 6월
                                                        4주차 아카이브</span> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                            <!--					-->

                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">디그지기 <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 197</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 0</span>
                      </div>
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a href="/knowhow/?idx=15411323&amp;bmode=view"><img
                                src="https://cdn.imweb.me/thumbnail/20220906/df940d05138d2.jpg"
                                alt=""></a></div>
                        <div class="title" style="">

                          <a class="_fade_link" href="/knowhow/?idx=15411323&amp;bmode=view">
                            <span class="title-block inline-blocked">숨은명소 실크로드 강화도 라이딩 🚲</span>
                            <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                            <!--					--> <!--					-->
                            <!--						<span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                            <!--					-->

                          </a>
                          <div class="board-block">
                                                    <span class="writer body_font_color_70">조미 <b
                                                            class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> 181</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 0</span>
                      </div>



                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div><!--New Contents-->
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w20210716386e038534986">
                <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                     data-widget-type="padding" data-widget-parent-is-mobile="N">
                  <div class="widget padding" data-height="30">
                    <div id="padding_w20210716386e038534986"
                         style="width:100%; min-height:1px; height:30px; "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div doz_type="section"
         class="section_wrap  pc_section       side_basic grid_gutter_0 grid_v_gutter_0  lr_margin_none "
         id="s20210608ea1ca2ec76d83" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
         doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
         doz_footer_repeat="N" doz_category="default">
      <div class="section_bg _section_bg _interactive_bg   "
           style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <div class="section_bg_color _section_bg_color"
           style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
      <main>
        <div doz_type="inside" class="inside"></div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210611ebe91b68ace10">
              <div class="_widget_data _ds_animated_except" data-widget-name="여백" data-widget-type="padding"
                   data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="20" style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w20210611ebe91b68ace10"
                       style="width:100%; min-height:1px; height:20px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div doz_type="inside" class="inside"></div>
      </main>
    </div>
    <div doz_type="section" class="section_wrap  pc_section       side_basic   extend_section   "
         id="s20210716ea68bb9b77cd3" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
         doz_side_margin="0" doz_extend="Y" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
         doz_footer_repeat="N" doz_category="default">
      <div class="section_bg _section_bg _interactive_bg   "
           style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <div class="section_bg_color _section_bg_color"
           style="background-color:rgba(0, 0, 0, 0.05); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);	zoom: 1; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
      </div>
      <main>
        <div doz_type="inside" class="inside">
          <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
              <div doz_type="widget" id="w2021071612be2e4776b7f">
                <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                     data-widget-type="padding" data-widget-parent-is-mobile="N">
                  <div class="widget padding" data-height="10">
                    <div id="padding_w2021071612be2e4776b7f"
                         style="width:100%; min-height:1px; height:10px; "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</th:block>
</html>