<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">

  <body class="doz_sys  _body_menu_m202103197a9322c0272cf  mobile-nav-on  mobile_nav_dep1  page  fixed-menu-on new_fixed_menu_on new_header_site   new_fixed_header_disable"
          id="doz_body">
  <div doz_type="section"
       class="section_wrap visual_section  pc_section   mobile_hide   section_first _section_first   "
       id="s20211116af37f830fa9ae" doz_mobile_section="N" doz_mobile_hide="Y" doz_header_repeat="N"
       doz_footer_repeat="N" doz_category="visual" doz_fullpage="N" >
    <div class="visual_section  _visual_section    paging_type_line" id="visual_s20211116af37f830fa9ae"> <!-- 비주얼 영역이
    없는 경우 .no-visual 추가 -->

      <!-- 비주얼 영역-->
      <div class="main-visual">
        <div class="mask">
          <ul class="swiper-wrapper list">
            <li class="swiper-slide">
              <a href="/">
                <img src="/assets/img/main1.png" alt="">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/">
                <img src="/assets/img/main2.png" alt="">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/digshop">
                <img src="/assets/img/main3.png" alt="">
              </a>
            </li>
          </ul>
          <div class="swpagination"></div>
        </div>
      </div>
      <!-- end.비주얼 영역 -->
    </div>
  </div>
  <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20210608cfedc23563ddf"
       doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
       doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
       doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>



    <main>
      <div doz_type="inside" class="inside">
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210716b6666e9432d3c">
              <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                   data-widget-type="padding" data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="30"
                     style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w20210716b6666e9432d3c"
                       style="width:100%; min-height:1px; height:30px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w2021062995f2043f71a4f">
              <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                   data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                   data-widget-parent-is-mobile="N">
                <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view "
                     id="text_w2021062995f2043f71a4f">

                  <div class="text-table ">
                    <div>
                      <h6><span style="font-size: 30px; letter-spacing: 0px;"><strong>HOT
                                                            TOPIC</strong></span></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w2021060885d37ed1dd8bd">
              <div class="_widget_data " data-widget-name="최신글" data-widget-type="newest"
                   data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                   data-widget-parent-is-mobile="N">
                <div class="widget">
                  <div class="list-style m-margin-on row_01 type_row container_border"
                       id="newest_w2021060885d37ed1dd8bd">
                    <th:block th:each="hbd:${hbds}">
                      <div class="list m-padding-on holder "
                         style="padding-top: 10px;padding-bottom: 10px;">
                      <div class="thumb"><a th:href="|/board/view/${hbd.board_id}|"><img
                              th:src="|http://localhost/cdn/_thumbs/small_${hbd.ba.fname}|"
                              style="width:170px; height: 125px;"></a></div>
                      <div class="title">
                        <a class="_fade_link" th:href="|/board/view/${hbd.board_id}|">
                          <span class="title-block inline-blocked" th:text="${hbd.title}">제목</span>
                        </a>
                        <div class="board-block">
                          <span class="writer body_font_color_70" th:text="${hbd.nick.nickname}">닉네임 <b class="bar"></b></span>
                          <a href="javascript:;" class="cmt body_font_color_70"><i
                                  aria-hidden="true" class="btm bt-eye"></i> [[${hbd.views}]]</a>
                        </div>
                      </div>
                      <span class="cmt body_font_color_70 comment"> 4</span>
                    </div>
                    </th:block>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210716460112311f971">
              <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                   data-widget-type="padding" data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="30"
                     style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w20210716460112311f971"
                       style="width:100%; min-height:1px; height:30px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div doz_type="row" doz_grid="12" class="doz_row">
        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
          <div doz_type="widget" id="w2021120296fb11a416891">
            <div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
                 data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                 data-widget-parent-is-mobile="N">
              <div
                      class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden hover_img_hide   same_overlay">
                <a href="/CREW" style="display:block;" class="_fade_link ">
                  <div class="_img_box img_wrap " style="height: 303.8px;"><img
                          id="img_w2021120296fb11a416891"
                          src="https://cdn.imweb.me/thumbnail/20211202/428ac95a58ff9.jpg"
                          style="visibility: visible; image-rendering: -webkit-optimize-contrast; width: 100%; height: 100%; object-fit: cover; margin-top: 0px; margin-left: 0px;"
                          class=" org_image" alt="">
                    <div class="_hover_image hover_img"
                         style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background-image: url(&quot;https://cdn.imweb.me/thumbnail/20211202/428ac95a58ff9.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
                    </div>
                  </div>
                </a>
              </div>



            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20210524bbd2a5f9c7935"
       style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
       doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
       doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>



    <main>
      <div doz_type="inside" class="inside">
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w202107161d03517164a27">
              <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                   data-widget-type="padding" data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="30"
                     style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w202107161d03517164a27"
                       style="width:100%; min-height:1px; height:30px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div doz_type="inside" class="inside"></div>
      <div doz_type="inside" class="inside"></div>
    </main>
  </div>
  <div doz_type="section" class="section_wrap  pc_section       side_basic   extend_section   "
       id="s202107168f3830e8ec4eb" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
       doz_side_margin="0" doz_extend="Y" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
       doz_footer_repeat="N" doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="background-color:rgba(0, 0, 0, 0.05); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);	zoom: 1; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>



    <main>
      <div doz_type="inside" class="inside">
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210716849ea8fe302be">
              <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                   data-widget-type="padding" data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="10"
                     style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w20210716849ea8fe302be"
                       style="width:100%; min-height:1px; height:10px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s202106290e0bb59f10b74"
       style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
       doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
       doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>



    <main>
      <div doz_type="inside" class="inside">
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210716a8c69f9f2e72c">
              <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                   data-widget-type="padding" data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="30"
                     style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w20210716a8c69f9f2e72c"
                       style="width:100%; min-height:1px; height:30px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210629b3c5f9f2d7075">
              <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                   data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                   data-widget-parent-is-mobile="N">
                <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view "
                     id="text_w20210629b3c5f9f2d7075">

                  <div class="text-table ">
                    <div>
                      <h6><span style="font-size: 30px; letter-spacing: 0px;"><strong>NEW
                                                            CONTENTS</strong></span></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210611041c09a38f494">
              <div class="_widget_data " data-widget-name="최신글" data-widget-type="newest"
                   data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                   data-widget-parent-is-mobile="N">
                <div class="widget">
                  <div class="list-style m-margin-on row_01 type_row container_border"
                       id="newest_w20210611041c09a38f494">
                    <th:block th:each="nbd:${nbds}">
                      <div class="list m-padding-on holder "
                           style="padding-top: 10px;padding-bottom: 10px;">
                        <div class="thumb"><a th:href="|/board/view/${nbd.board_id}|"><img
                                th:src="|http://localhost/cdn/_thumbs/small_${nbd.ba.fname}|"
                                style="width:170px; height: 125px;"></a></div>
                        <div class="title">
                          <a class="_fade_link" th:href="|/board/view/${nbd.board_id}|">
                            <span class="title-block inline-blocked" th:text="${nbd.title}">제목</span>
                          </a>
                          <div class="board-block">
                            <span class="writer body_font_color_70" th:text="${nbd.nick.nickname}">닉네임 <b class="bar"></b></span>
                            <a href="javascript:;" class="cmt body_font_color_70"><i
                                    aria-hidden="true" class="btm bt-eye"></i> [[${nbd.views}]]</a>
                          </div>
                        </div>
                        <span class="cmt body_font_color_70 comment"> 4</span>
                      </div>
                    </th:block>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20210716386e038534986">
              <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                   data-widget-type="padding" data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="30"
                     style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w20210716386e038534986"
                       style="width:100%; min-height:1px; height:30px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div doz_type="section"
       class="section_wrap  pc_section       side_basic grid_gutter_0 grid_v_gutter_0  lr_margin_none "
       id="s20210608ea1ca2ec76d83" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
       doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
       doz_footer_repeat="N" doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>

    <main>
      <div doz_type="inside" class="inside"></div>
      <div doz_type="row" doz_grid="12" class="doz_row">
        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
          <div doz_type="widget" id="w20210611ebe91b68ace10">
            <div class="_widget_data _ds_animated_except" data-widget-name="여백"
                 data-widget-type="padding" data-widget-parent-is-mobile="N">
              <div class="widget padding" data-height="20" style="margin-top:px; margin-bottom:px;">
                <div id="padding_w20210611ebe91b68ace10"
                     style="width:100%; min-height:1px; height:20px; "></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div doz_type="inside" class="inside"></div>
    </main>
  </div>
  <div doz_type="section" class="section_wrap  pc_section       side_basic   extend_section   "
       id="s20210716ea68bb9b77cd3" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
       doz_side_margin="0" doz_extend="Y" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
       doz_footer_repeat="N" doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="background-color:rgba(0, 0, 0, 0.05); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);	zoom: 1; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
  </div>
  <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s202105100895a2a9fa038"
       style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
       doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
       doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>

  </div>
  </body>
  <script src="/assets/js/swiper-bundle.min.js" charset="utf-8"></script>
  <script src="/assets/js/main.js" charset="utf-8"></script>
</th:block>

</html>