<!--
<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
    &lt;!&ndash;셀프&ndash;&gt;
    &lt;!&ndash;<div id="main">
        <h2 class="">디그 크리에이터 노하우</h2>
        <br>
        <P class="">디그디그 액티비티 크리에이터가 알려주는 등산 노하우</P>
        <div id="categoryType1" class="">
            <ul class="">
                <li class="">
                    <a href="" id="cAll1" class="" onclick="">
                        <span class="">전체보기</span>
                    </a>
                </li>
                <li class="">
                    <a href="" id="cHiking" class="" onclick="">
                        <span class="">등산</span>
                    </a>
                </li>
                <li class="">
                    <a href="" id="cCamping" class="" onclick="">
                        <span class="">캠핑</span>
                    </a>
                </li>
                <li class="">
                    <a href="" id="cCycle" class="" onclick="">
                        <span class="">자전거</span>
                    </a>
                </li>
                <li class="">
                    <a href="" id="cAthleisure" class="" onclick="">
                        <span class="">애슬래져</span>
                    </a>
                </li>
                <li class="">
                    <a href="" id="cClimbing" class="" onclick="">
                        <span class="">클라이밍</span>
                    </a>
                </li>
            </ul>
        </div> &lt;!&ndash;카테고리명&ndash;&gt;
        <div>
            <img src=""><a href=""></a>
            <div></div>
            <p><title></title></p>
        </div>
    </div>&ndash;&gt;

    &lt;!&ndash;<link rel="stylesheet" type="text/css" href="/css/custom.cm?1688939906">&ndash;&gt;&lt;!&ndash;contents custom.cm&ndash;&gt;
    <body class="page_ready  doz_sys  _body_menu_m20210129c3f9d83db9a96  mobile-nav-on  mobile_nav_dep2  page  fixed-menu-on new_fixed_menu_on new_header_site  " 	style=";"  id="doz_body">
        <div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s202102023eed07c909bdb" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
            <div class="section_bg _section_bg _interactive_bg   " style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
            <div class="section_bg_color _section_bg_color" style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
            <main>
                <div doz_type="inside" class="inside">
                    <div doz_type="row" doz_grid="12" class="doz_row">
                        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                            <div doz_type="widget" id="w202203107917dfa295b26">
                                <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text" data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding " id="text_w202203107917dfa295b26">
                                        <div class="text-table ">
                                            <div>
                                                <h6><span style="font-size: 30px;"><strong>디그 크리에이터 노하우</strong></span></h6>
                                                <h6><span style="font-size: 18px; color: rgb(152, 152, 152);">디그디그 액티비티 크리에이터가 알려주는 노하우</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>&lt;!&ndash;전문가 노하우: 디그 크리에이터 노하우&ndash;&gt;
                    <div doz_type="row" doz_grid="12" class="doz_row">
                        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                            <div doz_type="widget" id="w202102035a06cfcd486c9">
                                <div class="_widget_data " data-widget-name="메뉴/카테고리" data-widget-type="sub_menu" data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div class="widget">
                                        <div class="nav sub-menu sub_menu_hide  h-menu-type1 menu-horizontal row-cnt-3 row-cnt-mobile-3">
                                            <ul class="b2021020203139f9d83b06 ">
                                                <li class="depth-01  active " style="cursor:pointer;">
                                                    <a href="?category=" class=" active " onclick=""><span class="plain_name">전체보기</span></a>
                                                </li>
                                                <li class="depth-01 " style="cursor:pointer;">
                                                    <a href="?category=47q1n4p1wO" class="" onclick=""><span class="plain_name">등산</span></a>
                                                </li>
                                                <li class="depth-01 " style="cursor:pointer;">
                                                    <a href="?category=84M487885w" class="" onclick=""><span class="plain_name">캠핑</span></a>
                                                </li>
                                                <li class="depth-01 " style="cursor:pointer;">
                                                    <a href="?category=15012U2V85" class="" onclick=""><span class="plain_name">자전거</span></a>
                                                </li>
                                                <li class="depth-01 " style="cursor:pointer;">
                                                    <a href="?category=0bHUmq49TU" class="" onclick=""><span class="plain_name">애슬레저</span></a>
                                                </li>
                                                <li class="depth-01 " style="cursor:pointer;">
                                                    <a href="?category=816X5Lpg11" class="" onclick=""><span class="plain_name">클라이밍-주차별 매거진</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>&lt;!&ndash;카테고리 검색&ndash;&gt;
                </div>
                <div doz_type="inside" class="inside">
                    <div doz_type="row" doz_grid="12" class="doz_row">
                        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                            <div doz_type="widget" id="w20210202a51274af6cb4a">
                                <div class="_widget_data " data-widget-name="게시판" data-widget-type="board" data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div class="scroll_position" id="scroll_w20210202a51274af6cb4a"></div>
                                    <div class="widget board _list_wrap">
                                        <div class="list-style  hide_time  grid_02 type_grid img_border" id="post_card_b2021020203139f9d83b06" style="margin: -10px -10px 0px;">
                                            <div class="_post_row post_row">
                                                <div class="list-style-card _card_wrap">
                                                    <div class="ma-item _post_item_wrap" style="padding: 10px;">
                                                        <div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
                                                                <span class="holder blocked" style="cursor:pointer;">
                                                                    <a class="post_link_wrap _fade_link" href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=15465952&amp;t=board">
                                                                        <div class="card_wrapper card-thumbnail-wrap " style="background-image: url(https://cdn.imweb.me/thumbnail/20230619/bf9acfa0942c3.jpg);  background-size: cover; background-position: 50% 50%;">
                                                                            <div class="card-head _card_head _img_wrap" style="height: 399px;">
                                                                                <span></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body _card_body list-group">
                                                                            <div class="title title-block">
                                                                                <em class="notice-block" style="display: none">공지</em>
                                                                                <span><em style="padding-right:5px;color:#FF635D;">캠핑</em>&lt;!&ndash;카테고리&ndash;&gt;</span>
                                                                                캠핑에서 만난 기암괴벽 모음 ZIP&lt;!&ndash;제목&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;
                                                                            </div>
                                                                            <div class="text text-block show_body"><span></span></div>
                                                                        </div>
                                                                        <div class="card-foot _card_foot clearfix">
                                                                            <div class="float_l">
                                                                                <small class="cmt like_btn " id="like_btn_p20230619da2d710b056a6" onclick="clickLike('p20230619da2d710b056a6'); return false;">
                                                                                    <div class="_token_obj" data-type="post_grid_list_like">
                                                                                        <input type="hidden" id="like_token_key_p20230619da2d710b056a6" class="_tk_key_obj" value="8414">
                                                                                        <input type="hidden" id="like_token_p20230619da2d710b056a6" class="_tk_obj" value="vRpI5R2UpX9GU6Q4auUqCSP69EddKn1yEM89pRS2N0WP+pILTp0KsZ5HYCbgjBqeyMvZiM0gA6XMM+KiJ4YU5mbMBLwxHtMjVxWQuKAEwg4jh5iYzPOZXNOVqmNIQkSd">
                                                                                    </div>
                                                                                    <i aria-hidden="true" class="btm bt-heart vertical-middle"></i><em id="like_count_p20230619da2d710b056a6">3</em>&lt;!&ndash;찜하기&ndash;&gt;
                                                                                </small>
                                                                                <small class="cmt" style="display: none">
                                                                                    <i aria-hidden="true" class="icon-bubble vertical-middle"></i>0
                                                                                </small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-summary _card_summary">
                                                                            <div class="avatar">
                                                                                <div class="img_wrap" style="display: none"></div>
                                                                                <div class="tools">
                                                                                    <div class="writer">디그지기</div>&lt;!&ndash;작성자 닉네임&ndash;&gt;
                                                                                    <small class="date" title="2023-06-19 09:41" style="display: none">2023-06-19</small>&lt;!&ndash;작성일&ndash;&gt;
                                                                                    <small><i style="font-style: normal;">조회</i>193</small>&lt;!&ndash;조회수&ndash;&gt;
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>&lt;!&ndash;최근 컨텐츠 1번째&ndash;&gt;
                                                <div class="list-style-card _card_wrap">
                                                    <div class="ma-item _post_item_wrap" style="padding: 10px;">
                                                        <div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
                                                                <span class="holder blocked" style="cursor:pointer;">
                                                                    <a class="post_link_wrap _fade_link" href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=15465801&amp;t=board">
                                                                        <div class="card_wrapper card-thumbnail-wrap " style="background-image: url(https://cdn.imweb.me/thumbnail/20230423/610a491cd4ab4.jpeg);  background-size: cover; background-position: 50% 50%;">
                                                                            <div class="card-head _card_head _img_wrap" style="height: 399px;">
                                                                                <span></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body _card_body list-group">
                                                                            <div class="title title-block">
                                                                                <em class="notice-block" style="display: none">공지</em>
                                                                                <span><em style="padding-right:5px;color:#F9A746;">애슬레저</em></span>
                                                                                오로라 진행시켜. 더우니 그리워진 겨울왕국 아이슬란드
                                                                                &lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;
                                                                            </div>
                                                                            <div class="text text-block show_body"><span></span></div>
                                                                        </div>
                                                                        <div class="card-foot _card_foot clearfix">
                                                                            <div class="float_l">
                                                                                <small class="cmt like_btn " id="like_btn_p20230619a6f0e920f740f" onclick="clickLike('p20230619a6f0e920f740f'); return false;">
                                                                                    <div class="_token_obj" data-type="post_grid_list_like">
                                                                                        <input type="hidden" id="like_token_key_p20230619a6f0e920f740f" class="_tk_key_obj" value="664">
                                                                                        <input type="hidden" id="like_token_p20230619a6f0e920f740f" class="_tk_obj" value="vRpI5R2UpX9GU6Q4auUqCSP69EddKn1yEM89pRS2N0VR9BnIcMwmj+MKiwbZBDw/wR2xLn+lOChNf13A44WDfiZv8BL/AUwq4W0I3RaTvGe+qVQFwfsu0vkzE+hg3sjX">
                                                                                    </div>
                                                                                    <i aria-hidden="true" class="btm bt-heart vertical-middle"></i><em id="like_count_p20230619a6f0e920f740f">1</em>
                                                                                </small>
                                                                                <small class="cmt" style="display: none">
                                                                                    <i aria-hidden="true" class="icon-bubble vertical-middle"></i>0
                                                                                </small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-summary _card_summary">
                                                                            <div class="avatar">
                                                                                <div class="img_wrap" style="display: none"></div>
                                                                                <div class="tools">
                                                                                    <div class="writer">혁(@shyeo_gi)
                                                                                        <small class="date" title="2023-06-19 09:23" style="display: none">2023-06-19</small>
                                                                                        <small><i style="font-style: normal;">조회</i>166</small>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>&lt;!&ndash;최근 컨텐츠 2번째&ndash;&gt;
                                                <div class="list-style-card _card_wrap">
                                                    <div class="ma-item _post_item_wrap" style="padding: 10px;">
                                                        <div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
                                                                <span class="holder blocked" style="cursor:pointer;">
                                                                    <a class="post_link_wrap _fade_link" href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=15465727&amp;t=board">
                                                                        <div class="card_wrapper card-thumbnail-wrap " style="background-image: url(https://cdn.imweb.me/thumbnail/20221004/4bb2f59de720b.jpg);  background-size: cover; background-position: 50% 50%;">
                                                                            <div class="card-head _card_head _img_wrap" style="height: 399px;">
                                                                                <span></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body _card_body list-group">
                                                                                <div class="title title-block">
                                                                                <em class="notice-block" style="display: none">공지</em>
                                                                                <span><em style="padding-right:5px;color:#00B8FF;">자전거</em></span>
                                                                                완벽한 춘천 라이딩 코스 feat.레고랜드
                                                                                    &lt;!&ndash;									&ndash;&gt;
                                                                                    &lt;!&ndash;										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>&ndash;&gt;
                                                                                    &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                    &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>&ndash;&gt;
                                                                                    &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                    &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>&ndash;&gt;
                                                                                    &lt;!&ndash;									&ndash;&gt;
                                                                            </div>
                                                                            <div class="text text-block show_body"><span></span></div>
                                                                        </div>
                                                                        <div class="card-foot _card_foot clearfix">
                                                                            <div class="float_l">
                                                                                <small class="cmt like_btn " id="like_btn_p2023061984685c2ebf468" onclick="clickLike('p2023061984685c2ebf468'); return false;">
                                                                                    <div class="_token_obj" data-type="post_grid_list_like">
                                                                                        <input type="hidden" id="like_token_key_p2023061984685c2ebf468" class="_tk_key_obj" value="9414">
                                                                                        <input type="hidden" id="like_token_p2023061984685c2ebf468" class="_tk_obj" value="vRpI5R2UpX9GU6Q4auUqCSP69EddKn1yEM89pRS2N0U//55aCvVsLvEjCyNA3ExkrP5M3h+/tfdP3E1hcnNcONRcs7yT/3yGUC5cQHpaA4w+2YeTqRPQ6WJR22U80W7R">
                                                                                    </div>
                                                                                    <i aria-hidden="true" class="btm bt-heart vertical-middle"></i>
                                                                                    <em id="like_count_p2023061984685c2ebf468">2</em>
                                                                                </small>
                                                                                <small class="cmt" style="display: none"><i aria-hidden="true" class="icon-bubble vertical-middle"></i>0</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-summary _card_summary">
                                                                            <div class="avatar">
                                                                                <div class="img_wrap" style="display: none"></div>
                                                                                <div class="tools">
                                                                                    <div class="writer">조미</div>
                                                                                    <small class="date" title="2023-06-19 09:14" style="display: none">2023-06-19</small>
                                                                                    <small><i style="font-style: normal;">조회</i>430</small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>&lt;!&ndash;최근 컨텐츠 3번째&ndash;&gt;
                                                <div class="list-style-card _card_wrap">
                                                    <div class="ma-item _post_item_wrap" style="padding: 10px;">
                                                        <div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
                                                                <span class="holder blocked" style="cursor:pointer;">
                                                                    <a class="post_link_wrap _fade_link" href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=15465699&amp;t=board">
                                                                        <div class="card_wrapper card-thumbnail-wrap " style="background-image: url(https://cdn.imweb.me/thumbnail/20230619/84c0ace71a48a.png);  background-size: cover; background-position: 50% 50%;">
                                                                            <div class="card-head _card_head _img_wrap" style="height: 399px;"><span></span></div>
                                                                        </div>
                                                                        <div class="card-body _card_body list-group">
                                                                            <div class="title title-block">
                                                                                <em class="notice-block" style="display: none">공지</em>
                                                                                <span><em style="padding-right:5px;color:#D189E2;">주차별 매거진</em></span>
                                                                                'Let's digging time!' 6월 4주차 아카이브
                                                                                &lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;&lt;!&ndash;									&ndash;&gt;
                                                                                &lt;!&ndash;										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>&ndash;&gt;
                                                                                &lt;!&ndash;									&ndash;&gt;
                                                                            </div>
                                                                            <div class="text text-block show_body"><span></span></div>
                                                                        </div>
                                                                        <div class="card-foot _card_foot clearfix">
                                                                             <div class="float_l">
                                                                                <small class="cmt like_btn " id="like_btn_p2023061993cb416bd12a2"   onclick="clickLike('p2023061993cb416bd12a2'); return false;">
                                                                                    <div class="_token_obj" data-type="post_grid_list_like">
                                                                                        <input type="hidden" id="like_token_key_p2023061993cb416bd12a2" class="_tk_key_obj" value="2824">
                                                                                        <input type="hidden" id="like_token_p2023061993cb416bd12a2" class="_tk_obj" value="vRpI5R2UpX9GU6Q4auUqCSP69EddKn1yEM89pRS2N0VXiBn3iXu0WPWry3FfShUqoDPsifq+1xvSm9t4I+UtIn5xZO0/UI1Pxq9s42nDKcf2rvITZsreFhMTCPnLsnbQ">
                                                                                    </div>
                                                                                    <i aria-hidden="true" class="btm bt-heart vertical-middle"></i><em id="like_count_p2023061993cb416bd12a2">1</em>
                                                                                </small>
                                                                                <small class="cmt" style="display: none">
                                                                                    <i aria-hidden="true" class="icon-bubble vertical-middle"></i>0
                                                                                </small>
                                                                            </div>
                                                                            <div class="card-summary _card_summary">
                                                                                <div class="avatar">
                                                                                    <div class="img_wrap" style="display: none"></div>
                                                                                    <div class="tools">
                                                                                        <div class="writer">디그지기</div>
                                                                                        <small class="date" title="2023-06-19 09:09" style="display: none">2023-06-19</small>
                                                                                        <small  ><i style="font-style: normal;">조회</i>197</small>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>&lt;!&ndash;최근 컨텐츠 4번째&ndash;&gt;
                                            </div>&lt;!&ndash;리스트 1 줄&ndash;&gt;
                                        </div>
                                        <div class="li_footer _list_bottom clearfix text-center ">
                                            <div class="tools inline-blocked hidden-xs"></div>
                                        </div>
                                        <nav class="paging-block">
                                            <ul class="pagination">
                                                <li><a href="javascript:;" class="disabled">
                                                    <i aria-hidden="true" class="icon-arrow-left"></i><span class="sr-only">Previous</span></a></li>

                                                <li class="active"><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=1">1</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=2">2</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=3">3</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=4">4</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=5">5</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=6">6</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=7">7</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=8">8</a></li>
                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=9">9</a></li>

                                                <li><a href="/knowhow/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;page=10" aria-label="Next">
                                                    <i aria-hidden="true" class="icon-arrow-right"></i><span class="sr-only">Next</span></a></li>
                                            </ul>
                                        </nav>&lt;!&ndash;페이지네이션&ndash;&gt;
                                    </div>&lt;!&ndash; //카드형  &ndash;&gt;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="/assets/js/board.js" charset="utf-8"></script>
</th:block>
</html>-->
